.pop-up-settings {
    width: 100%;
    max-width: 1000px;
    overflow: auto;
    padding-bottom: 115px;
    @media screen and (max-width: 1700px) {
        padding: 14px 40px 15px;
        width: 91.3%;
        top:0;
        transform: translate(-50%, 120px);
        -webkit-transform: translate(-50%, 120px);
        -moz-transform: translate(-50%, 120px);
        -ms-transform: translate(-50%, 120px);
        -o-transform: translate(-50%, 120px);
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 14px 18px 15px;
        transform: translate(-50%, 0px);
        -webkit-transform: translate(-50%, 0px);
        -moz-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
        -o-transform: translate(-50%, 0px);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    &__content {
        padding: 25px 80px 0px;
        width: 1000px;
        @media all and (max-width: 700px){
            width: 100%;
            padding: 15px 33px 0px 30px;
        }
    }
    h4 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        @media all and (max-width: 700px){
            font-size: 16px;
            line-height: 18px;
        }
    }
    .pop-up-registration__block {
        @media all and (max-width: 700px){
            flex-direction: column;
        }
    }
    .pop-up-registration__fields:first-child{
        @media all and (max-width: 700px){
            width: 100%;
        }
    }
    .pop-up-registration__fields{
        @media all and (max-width: 700px){
            width: 100%;
        }
    }
    .field {
        width: 100%;
        input{
            @media all and (max-width: 1500px){
                padding: 5px 16px;
            }
        }
    }
    
    .btn-close {
        width: 100%;
        display: inline-block;
        margin: 0;
        position: absolute;
        bottom: -80px;
    }
    .btn-delete-account {
        background: #EAE7E7;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        width: 169px;
        height: 49px; 
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #000000;   
        margin-top: 40px; 
        @media all and (max-width: 1500px){
            margin-top: 20px;
        }
        &:hover{
            background: #BCB8B8;
        }  
    }
    .avatar-block{
        height: 147px;
        @media all and (max-width: 1500px){
            height: 128px;
        }
        img{
            height: 100%;
        }
    }
    .avatar-add-block {
        input {
            display: none;
        }
        .avatar-upload {
            span {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                margin-bottom: 5px;
                display: inline-block;
            }
            label {
                width: 169px;
                height: 27px;
                background: #FFFFFF;
                border: 1px solid #000000;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    margin-right: 5px;
                }
            }
        }
    }
    .field-avatar {
        display: flex;
        justify-content: space-between;
        margin-top: 26px;
        @media all and (max-width: 1500px){
            margin-top: 13px;
        }
    }
    .pop-up-registration__fields{
        position: relative;
    }
}
