.categories{
    &__text{
        padding: 49px 0;
        background: #E2E9F8;
        @media screen and (max-width: 500px){
            padding: 20px 0;
        }
        p{
            @include fontz (16px, 500, normal);
            line-height: 35px;
            letter-spacing: 0.01em;
            color: $color_main-description;
            @media screen and (max-width: 600px){
               font-size: 12px;
               line-height: 25px;
            }
        }
    }
    &__wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        @media screen and (max-width: 1200px){
            flex-direction: column;
            align-items: center;
        }
    }
    &__description{
        background: $bgservice;
        padding-bottom: 77px;
        position: relative;
        z-index: 0;
        @media screen and (max-width: 500px){
            padding-bottom: 30px;
        }
    }
    &__wrap-btn{
        justify-content: space-between;
        margin-top: 80px;
        @media screen and (max-width: 730px) {
            flex-direction: column;
            align-self: center;
            margin-top: 30px;
        }  
        .btn-how-work, .btn-open-dashboard{
            margin: auto;
            display: block;
            @media screen and (max-width: 730px){
                margin-bottom: 20px;
            }
        }
        >:nth-child(1){
            width: 40%;
            @media screen and (max-width: 1200px) {
                width: 50%;
            }
            @media screen and (max-width: 730px) {
                align-self: center;
                width: 100%;
            }
        }
        >:nth-child(2){
            width: 55%;
            @media screen and (max-width: 1200px) {
                width: 50%;
            }
            @media screen and (max-width: 730px) {
                align-self: center;
                width: 100%;
            }
        }
    }
    &__container{
        @media screen and (max-width: 1200px){
            width: 900px;
            margin: auto;
        }
        @media screen and (max-width: 930px){
            width: 700px;
        }
        @media screen and (max-width: 730px){
            width: 500px;
        }
        @media screen and (max-width: 530px){
            width: 300px;
        }
    }
    &__wrap-description{
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 1200px){
            justify-content: space-around;
        }
    }
    &__block-description{
        background: #CEEEFF;
        border: 0.558842px solid #6C7077;
        box-sizing: border-box;
        box-shadow: 0px 2.79421px 2.23537px 2.79421px rgba(0, 0, 0, 0.25);
        border-radius: 27.9421px;
        padding: 25px 15px 25px;
        width: 48%;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 60px;
        align-items: center;
        @media screen and (max-width: 1200px){
           height: 157px;
        }
        @media screen and (max-width: 730px) {
            width: 100%;
            margin-bottom: 80px;
        }
        @media screen and (max-width: 530px) {
            padding: 30px 15px 30px;
            margin-bottom: 70px;
        }
        @media screen and (max-width: 420px){
            
        }
        p{
            @include fontz (11px, 500, normal);
            line-height: 15px;
            letter-spacing: 0.01em;
            width:  60%;
        }
        >ul{
            width: 57%;
            li{
                @include fontz (10px, 500, normal);
                line-height: 15px;
                letter-spacing: 0.01em;
                position: relative;
                &:after{
                    position: absolute;
                    content: "-";
                    left: -8px;
                    color: #000000;
                    
                }
            }
        }
    }
    a:hover{
       color: #fff;
       text-decoration: none;
    }
}
.pos-item{
    position: absolute;
    background: #2DA4E3;
    top: -2px;
    left: 22px;
    width: 30%;
    height: 102%;
    &_red{
        background: #E02648;
        &:after{
            border-top: 46px solid #E02648;
        }
    }
    &_green{
        background: #38CB20;;
        &:after{
            border-top: 46px solid #38CB20;;
        }
    }
    &_yellow{
        background: #E4E825;
        &:after{
            border-top: 46px solid #E4E825;
        }
    }
    &__top{
        position: absolute;
        content: "";
        top: -18px;
        left: 0;
        width: 125%;
        border-top-left-radius: 40px;
        height: 20px;
        z-index: -4;
        background: linear-gradient( 0.41deg  , #2DA4E3 21.92%, rgba(45, 164, 227, 0) 101.83%);
        &_red{
            background: linear-gradient(0.41deg, #E02648 21.92%, rgba(224, 38, 72, 0) 101.83%);
        }
        &_green{
            background: linear-gradient(0.41deg, #38CB20 21.92%, rgba(56, 203, 32, 0) 101.83%);
        }
        &_yellow{
            background: linear-gradient(0.41deg, #E4E825 21.92%, rgba(228, 232, 37, 0) 101.83%);
        }
    } 
    .circle{
        position: absolute;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #2DA4E3;;
        top: -2px;
        right: -21px;
        z-index: -1;
        &_red{
            background: #E02648;
        }
        &_green{
            background: #38CB20;
        }
        &_yellow{
            background: #E4E825;
        }
    }
    .triangle-bottom {
        position: absolute;
        bottom: -35px;
        left: 0px;
        width: 100%;
        @media screen and (max-width: 730px) {
            bottom: -55px;
        } 
        @media screen and (max-width: 530px) {
            bottom: -35px;
        }
        img {
            width: 100%;
        }
    }
     &__img{
        margin: auto;
        width: 80%;
        img{
            width: 100%;
        }
     }
 }
.discount-cargo{
.categories__monitor{
    width: 44%;
    @media screen and (max-width: 1200px){
        width: 67%;
    }
    @media screen and (max-width: 930px){
        width: 90%;
    }
    @media screen and (max-width: 730px){
        width: 100%;
    }
    img{
        width: 100%;
    }
}
.categories__wrap-description{
    width: 53%;
    @media screen and (max-width: 1200px){
        width: 100%;
        margin-top: 30px;
        width: 67%;
    }
    @media screen and (max-width: 930px){
        width: 90%;
    }
    @media screen and (max-width: 730px){
        width: 100%;
    }
    >div{
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 700px) {
            justify-content: center;
            
        }
    }
}
}
.cargo-market{
        .categories__wrap{
            .cargo-market__block-wrap{
                width: 60%;
                @media screen and (max-width: 1200px) {
                    margin-bottom: 30px;
                    width: 80%;
                }
                @media screen and (max-width: 930px){
                    width: 100%;
                }
                @media screen and (max-width: 320px){
                    width: 100%;
                }
                img{
                    width: 100%;
                }
            }
            .cargo-market__monitor{
                width: 40%;
                @media screen and (max-width: 1200px) {
                    width: 80%;
                }
                @media screen and (max-width: 930px) {
                    width: 100%;
                } 
                img{
                    width: 100%;
                    @media screen and (max-width: 800px){
                        width: 100%;
                    }
                }
            }
        }
        &__block-wrap{
            flex-wrap: wrap;
            justify-content: center;
            .cargo-block-item:nth-child(2) p{
                top: 80px;
               
                @media screen and (max-width: 530px){
                    top: 101px;
                    left: 65px;
                }
            }
            .cargo-block-item:nth-child(5) p{
                left: 40px;
            }
        }
        .categories__wrap-btn{
            >:nth-child(1){
                @media screen and (min-width: 731px){
                    width: 60%;
                }
            }
            >:nth-child(2){
                @media screen and (min-width: 731px){
                    width: 40%;
                }
            }
        }
}
.cargo-block-item{
        position: relative;
        width: 33%;
        @media screen and (max-width: 730px){
            width: 48%;
        }
        @media screen and (max-width: 530px){
             width: 100%;
        }
        
         p{
            position: absolute;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.01em;
            width: 65%;
            top: 82px;
            left: 44px;
            @media screen and (max-width: 530px){
                top: 101px;
                left: 65px;
                font-size: 12px;
                width: 64%;
            }
        }
        span{
            position: absolute;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.01em;
            width: 65%;
            top: 53px;
            left: 82px;
            @media screen and (max-width: 530px){
                top: 74px;
                left: 99px;            
                font-size: 12px;
            }
        }
        &:nth-child(1) p, &:nth-child(4) p{
            left: 55px;
            top: 91px;
            @media screen and (max-width: 530px){
                top: 101px;
                left: 65px;
            }
        }
       
}
.companies{
    .categories__wrap{
        justify-content: center;
        max-width: 1100px;
        margin: auto;
        >div{
            img{
                width: 100%;
            }
        }
    }
    .categories__wrap-btn{
        width: 60%;
        margin: 115px auto 0;
        @media screen and (max-width: 1200px){
            width: 90%;
            justify-content: space-between;
            margin: 80px auto 0;
        }
        @media screen and (max-width: 700px){
            margin: 30px auto 0;
        }
        >:nth-child(1){
            width: auto;
        }
        >:nth-child(2){
            width: auto;
        }
    }
}
.freight-auction{
   
    &__wrap{
        width: auto;
        @media screen and (max-width: 1200px){
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__icon{
        width: auto;
        margin-bottom: 20px;
        @media screen and (max-width: 730px){
            display: none!important;
        }
        img{
            width: 310px;
        }
    }
    &__wrap-item{
        @media screen and(max-width: 1200px){
            width: 45%;
        }
        @media screen and (max-width: 930px){
            width: 100%;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 930px){
            width: 70%;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 730px){
            width: 80%;
        }
        @media screen and (max-width: 530px){
            width: 100%;
            flex-direction: column;
            margin-bottom: 0px;
        }
    }
    &__item{
        letter-spacing: 0.01em;
        width: 100%;
        position: relative;
        margin-right: 15px;
        img{
            width: 105%;
        } 
        @media screen and (max-width: 1200px){
            width: 100%;
        } 
        @media screen and (max-width: 70px){
            width: 100%;
        } 
        @media screen and (max-width: 730px){
            margin-bottom: 30px;
        }
    }
    &__item-content{
        position: absolute;
        left: 21px;
        top: 98px;
        width: 82%;
        @media screen and (max-width: 1200px){
            top: 115px;
        } 
        @media screen and (max-width: 929px){
            left: 28px;
            top: 140px;
            width: 80%;
        }
        @media screen and (max-width: 730px){
            top: 115px;
            left: 24px;
        }
        @media screen and (max-width: 530px){
            top: 169px;
            left: 34px;
        }
        p{
            @include fontz (9px, 400, normal);  
            line-height: 12px;
            margin-bottom: 10px;
            @media screen and (min-width: 930px) and (max-width: 1200px){
                font-size: 10px;
            } 
            @media screen and (max-width: 929px){
                font-size: 12px;
                line-height: 17px;
            } 
            @media screen  and (max-width: 730px){
                font-size: 10px;
                line-height: 14px;
            } 
            @media screen  and (max-width: 530px){
                font-size: 15px;
                line-height: 23px;
            }   
        }
    }
    &__monitor{
        img{
            width: 100%;
        } 
        @media screen and (max-width: 1200px){
            order: -1;      
            margin-bottom: 40px; 
            width: 80%;
        }
        @media screen and (max-width: 730px){
            width: 100%;
        }
    }
    .categories__wrap-btn{
        width: 60%;
        margin: 115px auto 0;
        @media screen and (max-width: 1200px){
            width: 100%;
        }
        div{
            @media screen and (min-width: 730px){
                width: 50%;
            }
        }
    }
}
.world-fleet{
    .cargo-market__block-wrap{
        flex-wrap: wrap;
    }
    &__item-wrap{
        width: 50%;
        @media screen and (max-width: 767px) {
            width: 100%;
        } 
    }
    &__item{
        width: 95%;
        position: relative;
        text-align: left;
        @media screen and (max-width: 767px) {
            width: 100%;
        } 
        &_central{
            margin-left: 55px;
            @media screen and (max-width: 767px) {
                margin: 0;
            } 
        }
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0.01em;
            position: absolute;
            top: 50%;
            left: 46%;
            transform: translate(0, -50%);
            width: 46%;
                @media screen and (min-width: 730px) and (max-width: 767px) {
                   left: 42%;
                   width: 40%;
                } 
                @media screen and (max-width: 767px) {
                    font-size: 10px;
                    line-height: 13px;
                } 
        }
        img {
            width: 100%;
            max-width: 630px;
        }
    }
    .order-id__item {
        .textarea-block {
            margin: 0;
        }
    }
    .categories__container{
        .categories__wrap-btn{
            >:nth-child(1){
                @media all and (min-width: 730px) and (max-width: 1200px){
                    width: 100%;
                }
            }
            >:nth-child(2){
                @media all and (min-width: 730px) and (max-width: 1200px){
                    width: 100%;
                }
            }
        }
    }
    
}
.vessels-market{
    .world-fleet__item{
        &-wrap {
            width: 100%;
            max-width: 620px;
            @media all and (max-width: 1200px) {
                margin-top: 40px;
            }
        }
        p{
            width: 60%;
            position: absolute;
            text-align: left;
            left: 20%;
            @media all and (max-width: 1360px) {
                width: 62%;
            }
            @media all and (max-width: 530px) {
                font-size: 8px;
                line-height: 10px;
            }
        }
        :nth-child(2){
            top: 14%;
            @media all and (max-width: 530px) {
                top: 15%;
            }
        }
        :nth-child(3){
            top: 37%;
        }
        :nth-child(4){
            top: 60%;
            @media all and (max-width: 375px) {
                top: 59%;
            }
        }
        :nth-child(5){
            top: unset;
            bottom: 13%;
            @media all and (max-width: 530px) {
                bottom: 11%;
            }
        }
    }
    .categories__wrap-btn{
        >:nth-child(1){
            @media all and (min-width: 730px){
                width: 40%;
            }
        }
        >:nth-child(2){
            @media all and (min-width: 730px){
                width: 50%;
            }
        }
    }
}

