.header-logo {
    height: 146px;
    background: #4DC0C7;
    mix-blend-mode: normal;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    padding: 30px;
    align-items: baseline;
    display: flex;
    @media all and (max-width: 1920px) {
        width: 1920px;
    }
    &__form {
        display: flex;
        width: calc(100% - 320px);
        justify-content: space-between;
        align-items: center;
        padding-right: 215px;

        .select-block {
            width: 250px;
        }
    }
    .header-authorized {
        justify-content: flex-end;
        .header-authorized__mail{
            margin-right: 18px;
        }
    }
    .sidebar_btn {
        position: relative;
        top: 13px;
    }
}
.logo-list {
    background: #E1F5FF;
    height: calc(100% - 146px);
    overflow: auto;

    @media all and (max-width: 1920px) {
        width: 1920px;
    }
    &__data {
        height: 100vh;
    }
    &__item {
        height: 100px;
    }
    &__table {
        display: grid;
        grid-template-columns: 144px 1fr 0.68fr;
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 4px solid #fff !important;
        & > :nth-child(1){
            width: 26%;
        }
        & > :nth-child(2){
            width: 27%;
        }
        & > :nth-child(3){
            width: 22%;
        }
        & > :nth-child(4){
            width: 19%;
        }
        & > :nth-child(5){
            width: 26%;
        }
        & > :nth-child(6){
            width: 27%;
        }
        & > :nth-child(7){
            width: 22%;
        }
        & > :nth-child(8){
            width: 19%;
        }
    }
    &__row {
        display: flex;
        padding: 0 10px;
        align-items: center;
        &_title {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6C7077;
            margin-right: 15px;
        }
        &_value {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
    }
    &__image {
        height: 100px;
        padding: 0 !important;
        border-right: unset !important;

        img {
            width: 100%;
            height: 100%;
        }
    }
    &__description {
        height: 100px;
        overflow: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        text-align: left !important;
        padding: 5px 7px !important;
    }
    .table_data-item > div:last-child{
        align-items: baseline;
    }
    .table_data-item > div{
        line-height: 14px;
    }
}