.companies-logo-fixed {
    background: rgb(33, 115, 129) url('../img/companies-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center top;
    overflow: hidden;
    @media all and (max-width: 1300px) {
        overflow-x: auto;
    }
    .logo-slider {
        &__item {
            display: flex;
            flex-direction: column;
            margin-right: 5px;
            .logo-block {
                width: 125px;
                height: 50px;
                background: #B6DAED;
                margin-bottom: 5px;
            }
            &_right {
                position: relative;
                top: -5px;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);

                .logo-block {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
            }
        }
    } 
    .select-block > label, .textarea-block label, .input-block label{
        color: #FFFFFF;
    }
    .pop-up.account-orders{
        top: 0;
        height: 100vh;
        overflow: auto;
    }
}
.companies-container{
    width: 100%;
    height: 100vh;
    .container-img-wrap{
        position: relative;
        height: 145px;
        width: 145px;
        margin: auto;
        .container-img{
            position: absolute;
            width: 240px;
            left: 50%;
            top: 62%;
            z-index: 3;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
           
            @media all and (min-width: 1850px) {
                width: 310px;
                top: 68%;
            }
            img{
               width: 100%;
               position: relative;
               z-index: 4;
            }
            &:after, &::before{
                position: absolute;
                content: "";
                width: 93px;
                height: 1px;
                background:rgba(85, 167, 236, 0.7);
                @media all and (min-width: 1850px) {
                    width: 120px;
                }
                
            }
            &:after{
                right: -14px;
                bottom: 18px;
                transform: rotate(50deg);
                -webkit-transform: rotate(50deg);
                -moz-transform: rotate(50deg);
                -ms-transform: rotate(50deg);
                -o-transform: rotate(50deg);
                @media all and (min-width: 1850px) {
                    bottom: 26px;
                }
            } 
            &::before{
                left: -28px;
                bottom: 9px;
                transform: rotate(-48deg);
                -webkit-transform: rotate(-48deg);
                -moz-transform: rotate(-48deg);
                -ms-transform: rotate(-48deg);
                -o-transform: rotate(-48deg);
                @media all and (min-width: 1850px) {
                    bottom: 3px;
                }
            } 
            
        }
        
        &__circle{
            background: rgba(85, 167, 236, 0.7);
            width: 145px;
            height: 145px;
            position: absolute;
            top: -215px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          
            @media all and (min-width: 1850px) {
                width: 190px;
                height: 190px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 14px;
                width: 37%;
                margin: auto;
            }
        }
        div{
            p{
                width: 80%;
            }
        }
        >:nth-child(2){
            @media all and (min-width: 1850px) {
                left: -29px;
                top: -311px;
            }
            p{
                width: 37%;
            }
            &:after{
                position: absolute;
                content: "";
                height: 1px;
                background:rgba(85, 167, 236, 0.7);
                width: 50px;
                left: 42px;
                bottom: -26px;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                @media all and (min-width: 1850px){
                    width: 67px;
                    left: 62px;
                    bottom: -34px;
                }
            }
        }
        >:nth-child(3){
            top: -66px;
            right: -273px;
            @media all and (min-width: 1850px) {
                top: -125px;
                right: -338px;
            }
            &:after, &::before{
                position: absolute;
                content: "";
                height: 1px;
                background:rgba(85, 167, 236, 0.7);
            }
            &:after{
                width: 227px;
                left: -222px;
                bottom: 32px;
                transform: rotate(-13deg);
                -webkit-transform: rotate(-13deg);
                -moz-transform: rotate(-13deg);
                -ms-transform: rotate(-13deg);
                -o-transform: rotate(-13deg);
                    @media all and (min-width: 1850px) {
                        left: -217px;
                    }
                }
            &::before{
                width: 173px;
                left: -143px;
                bottom: 164px;
                transform: rotate(-147deg);
                -webkit-transform: rotate(-147deg);
                -moz-transform: rotate(-147deg);
                -ms-transform: rotate(-147deg);
                -o-transform: rotate(-147deg);
                @media all and (min-width: 1850px) {
                    width: 184px;
                    left: -163px;
                    bottom: 177px;
                }
            }
        }
        >:nth-child(4){
            top: 200px;
            right: -174px;
            @media all and (min-width: 1850px) {
                top: 264px;
                right: -212px;
            }
            &:after, &::before{
                position: absolute;
                content: "";
                height: 1px;
                background:rgba(85, 167, 236, 0.7);
            }
            &:after{
                width: 227px;
                left: -226px;
                bottom: 66px;
                @media all and (min-width: 1850px) {
                    width: 244px;
                    left: -239px;
                } 
            }
            &::before{
                width: 143px;
                left: 59px;
                bottom: 203px;
                transform: rotate(-62deg);
                -webkit-transform: rotate(-62deg);
                -moz-transform: rotate(-62deg);
                -ms-transform: rotate(-62deg);
                -o-transform: rotate(-62deg);
                @media all and (min-width: 1850px) {
                    width: 231px;
                    left: 59px;
                    bottom: 287px;
                } 
            }
        }
        >:nth-child(5){
            top: 200px;
            right: 196px;
            @media all and (min-width: 1850px) {
                top: 264px;
                right: 212px;
            }
            &::before{
                position: absolute;
                content: "";
                height: 1px;
                background:rgba(85, 167, 236, 0.7);
                width: 139px;
                left: -50px;
                bottom: 203px;
                transform: rotate(66deg);
                -webkit-transform: rotate(66deg);
                -moz-transform: rotate(66deg);
                -ms-transform: rotate(66deg);
                -o-transform: rotate(66deg);
                @media all and (min-width: 1850px) {
                    width: 215px;
                    left: -59px;
                    bottom: 287px;
                } 
}
        }
        >:nth-child(6){
            top: -66px;
            right: 273px;
            @media all and (min-width: 1850px) {
                top: -121px;
                right: 311px;
            }
            &:after, &::before{
                position: absolute;
                content: "";
                height: 1px;
                background:rgba(85, 167, 236, 0.7);
            }
            &:after{
                width: 227px;
                left: 138px;
                bottom: 32px;
                transform: rotate(13deg);
                -webkit-transform: rotate(13deg);
                -moz-transform: rotate(13deg);
                -ms-transform: rotate(13deg);
                -o-transform: rotate(13deg);
                @media all and (min-width: 1850px) {
                    left: 179px;
                }
            }
            &::before{
                width: 173px;
                left: 115px;
                bottom: 164px;
                transform: rotate(147deg);
                -webkit-transform: rotate(147deg);
                -moz-transform: rotate(147deg);
                -ms-transform: rotate(147deg);
                -o-transform: rotate(147deg);  
                @media all and (min-width: 1850px) {
                    width: 191px;
                    left: 169px;
                    bottom: 177px;
                }     
            }
        }
        .group-compaies{
            width: 510px;
            top: 59%;
            z-index: 1;
            position: fixed;
            @media all and (min-width: 1850px) {
                width: 800px;
                top: 56%;
            }
        }
    }    
        
}
.main-companies {
    position: relative;
    top: -100px;
    width: 100%;
    height: 100%;
    @media all and (max-width: 1300px) {
        width: 1300px;
    }
}
.companies-logo {
    background: unset;
    justify-content: center;
    // overflow: auto;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    z-index: 4;
    @media all and (max-width: 1300px) {
        width: 1300px;
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 43px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        width: 30%;
        text-align: center;
    }
    &__header {
        &-block {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
        }
    }
    &__slider {
        // display: none;
        position: absolute;
        top: 120px;
        width: 255px;
        display: flex;
        justify-content: space-between;
        // height: calc(100vh - 90px);



        &_left {
            // left: 5px;
            .logo-block {
                margin-right: 5px;
            }
        }
        &_right{
            right: 10px;
            .logo-block {
                margin-left: 5px;
            }
        }
    }
    &__around {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 900px;
        height: 955px;
        margin: auto;
        div {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 220px;
            height: 220px;
            // width: 180px;
            // height: 180px;
            background: rgba(85, 167, 236, 0.7);
            padding-left: 40px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            p{
                font-size: 16px;
            }
            &:nth-child(1) {
                top: 30px;
                &:after {
                    content: ' ';
                    border: 1px solid #005DFF;
                    height: 1px;
                    position: absolute;
                    width: 182px;
                    bottom: 0px;
                    right: -68%;
                    transform: rotate(
                    32.45deg
                    );
                }
                &:before {
                    content: ' ';
                    border: 1px solid #005DFF;
                    height: 1px;
                    position: absolute;
                    width: 53px;
                    right: 36%;
                    bottom: -26px;
                    transform: rotate(
                        90deg
                    );
                }
            }
            &:nth-child(2) {
                top: 245px;
                left: 0;
                &:after {
                    content: ' ';
                        border: 1px solid #005DFF;
                        height: 1px;
                        position: absolute;
                        width: 107px;
                        bottom: 55px;
                        right: -43%;
                        transform: rotate(
                    21.71deg
                    );
                }
                &:before {
                    content: ' ';
                    border: 1px solid #005DFF;
                    height: 1px;
                    position: absolute;
                    width: 185px;
                    right: -70%;
                    top: 7px;
                    transform: rotate(156.8deg);
                }
            }
            &:nth-child(3) {
                top: 245px;
                right: 0;
                &:after {
                    content: ' ';
                    border: 1px solid #005DFF;
                    height: 1px;
                    position: absolute;
                    width: 170px;
                    left: -11%;
                    bottom: -35%;
                    transform: rotate(
                    -69.82deg
                    );
                }
                &:before {
                    content: ' ';
    border: 1px solid #005DFF;
    height: 1px;
    position: absolute;
    width: 97px;
    left: -39%;
    top: 75%;
    transform: rotate(
156.8deg
);
                }
            }
            &:nth-child(4) {
                bottom: 130px;
                left: 125px;
            }
            &:nth-child(5) {
                bottom: 130px;
                right: 125px;
            }
        }
    }
    
}
.logo-form {
    display: none;
    & > div {
        margin-bottom: 15px;
        // margin-bottom: 10px;

    } 
    .textarea-block textarea {
        width: 180%;
    }
    .textarea-block textarea{
        // height: 100px;
    }
    button {
        background: #FFFFFF;
        border: 1px solid #6C7077;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        width: 96px;
        left: 150px;
        margin: auto;
        text-align: center;
        position: relative;
        &.active{
            background: #49FD2B;
        }
    }
    .input-block {
        .logo-add {
            display: inline-block;
            margin-top: -3px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #C4C4C4;
            position: relative;
            top: -7px;
        }
        .logo-add-text{
            top: 2px;
        }
    }
    input[type="file"] {
        display: none;
    }
    #addlogo {
        // height: 55px;
        height: 25px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .select__title{
        font-size: 12px;
        height: 25px;
    }
    .select__label{
        height: fit-content;
    }
    .input-block-ui{
        height: 25px;
    }
}
.companies-bg {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    @media all and (min-width: 1920px) {
        width: 100vw;
    }
}
.add-company__block {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
    span {
        position: absolute;
        bottom: -22px;
        left: 70px;
    }
}
