.header-logo {
    height: 146px;
    background: #4DC0C7;
    mix-blend-mode: normal;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    padding: 30px;
    align-items: baseline;
    display: flex;
    @media all and (max-width: 1700px) {
        height: 103px;
        align-items: center;
    }
    &__form {
        width: calc(100% - 345px);
        display: grid;
        grid-template-columns: 142px repeat(3, 18%) 68px;
        grid-gap: 47px;
    }
    .header-authorized {
        justify-content: flex-end;
        .header-authorized__mail{
            margin-right: 18px;
        }
    }
    .sidebar_btn {
        position: relative;
        top: 12px;
        font-size: 14px;
        height: 52px;
        width: 96px;
        padding: 0;
        @media all and (max-width: 1700px) {
            top: 8px;
            font-size: 10px;
            height: 37px;
            width: 68px;
        }
    }
}
.logo-list {
    background: #E1F5FF;
    height: calc(100% - 100px);
    overflow: auto;
    &__data {
        height: 100vh;
    }
    &__item {
        height: 100px;
    }
    &__table {
        display: grid;
        grid-template-columns: 144px 1fr 0.68fr;
        @media all and (max-width: 1700px) {
            grid-template-columns: 102px 1fr 0.51fr;
        }
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 4px solid #fff !important;
        & > :nth-child(1){
            width: 26%;
        }
        & > :nth-child(2){
            width: 27%;
        }
        & > :nth-child(3){
            width: 22%;
        }
        & > :nth-child(4){
            width: 19%;
        }
        & > :nth-child(5){
            width: 26%;
        }
        & > :nth-child(6){
            width: 27%;
        }
        & > :nth-child(7){
            width: 22%;
        }
        & > :nth-child(8){
            width: 19%;
        }
    }
    &__row {
        display: flex;
        padding: 0 10px;
        align-items: center;
        &_title {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6C7077;
            margin-right: 15px;
            @media all and (max-width: 1700px) {
                font-size: 9px;
                line-height: 11px;
            }
        }
        &_value {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            @media all and (max-width: 1700px) {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
    &__image {
        height: 100px;
        padding: 0 !important;
        border-right: unset !important;
        @media all and (max-width: 1700px) {
            height: 71px;
        }
    }
    
    .table_data-item > div:last-child{
        align-items: baseline;
        @media all and (max-width: 1700px) {
            font-size: 10px;
            line-height: 12px;
            align-items: center;
        }
    }
    .table_data-item > div{
        line-height: 18px;
    }
}
.logo-list__data .logo-list__description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-align: left;
    padding: 7px 7px;
    align-items: flex-start!important;
    & > p {
        height: 86px;
        width: 100%;
        overflow: auto;
        @media all and (max-width: 1700px){
            height: 57px;
        }
    }
}
.logo-list .logo-list__image img{
    width: 100%;
    height: 100%;
}