.footer{
    background: $bg-header;
    padding: 38px 0 27px;
    line-height: 37px;
    font-family: 'Roboto', sans-serif;
    color: $color_light-text;
    flex-direction: row;
    display: flex;
    a{
        color: $color_light-text;
    }
    >:nth-child(1){
        justify-content: space-between;
        @media screen and (max-width: 1160px){
            align-items: center;
             flex-direction: column-reverse;
        }
    }
    &__text{
        width: 45%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1400px) {
            width: 55%;
        }
        @media screen and (max-width: 1160px){
            margin-top: 30px;
            width: 100%;
            text-align: center;
        }
        @media screen and (max-width: 767px){
            margin-top: 10px;
        }
        >:nth-child(1){
            font-weight: 600;
            font-style: normal;
            font-size: 16px;
            line-height: 22px;
        }
        >:nth-child(2){
            display: flex;
            justify-content: space-between;
            font-style: normal;
            font-weight: 500;
            @include adaptive-fonts(14, 11);
            @media screen and (max-width: 500px){
                flex-direction: column; 
            }
        }
        a{
            margin: 0 9px;
        }
    }
    &__link-wrap{
        a{
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 0.01em;
            font-size: 14px;    
            }
        @media screen and (max-width: 500px){
            padding-left: 40px;
        }
        @media screen and (max-width: 370px){
            padding-left: 30px;
        }
        img{
            position: absolute;
            // left: -50px;
            left: -40px;
            width: 23px;
            @media screen and (max-width: 767px){
                left: -37px;
                width: 23px;
            }
        }
        width: fit-content;
        justify-content: space-around;
        @media screen and (max-width: 450px){
            width: 90%;
            padding-left: 30px;
        }
    }
    &__menu-wrap{
        display: flex;
        >div{
            position: relative;
            margin-bottom: 39px;
            @media screen and (max-width: 1200px){
                margin-bottom: 44px;
            }
            @media screen and (max-width: 767px){
                margin-bottom: 39px;
            }
        }
    }
    &__menu-title{
        font-size: 16px;
        margin-bottom: 30px;
    }
    &__follow-icon{
        display: flex;
        :nth-child(2){
            margin-top: -10px;
        }
        a{
            background: #49689F;
            width: 40px;
            height: 40px; 
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-bottom: 18px;
            @media screen and (max-width: 767px){
                width: 40px;
                height: 40px;            
            }
            svg{
                width: 19px;
            }
            &:hover{
                background: #0C4FC4;
            }
        }
        .fb{
            svg{
                width: 12px;
            }
        }
    }
}