.footer{
    background: $bg-header;
    padding: 38px 0 27px;
    line-height: 37px;
    font-family: 'Roboto', sans-serif;
    color: $color_light-text;
    flex-direction: row;
    display: flex;
    a{
        color: $color_light-text;
    }
    >:nth-child(1){
        justify-content: space-between;
        @media screen and (max-width: 1160px){
            align-items: center;
             flex-direction: column-reverse;
        }
    }
    &__text{
        width: 45%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1400px) {
            width: 55%;
        }
        @media screen and (max-width: 1160px){
            margin-top: 30px;
            width: 100%;
            text-align: center;
        }
        >:nth-child(1){
            @include fontz (12px, 500, normal);
            line-height: 22px;
            @media screen and (max-width: 850px){
                @include fontz (11px, 500, normal);
            }
        }
        >:nth-child(2){
            display: flex;
            justify-content: space-between;
            @include fontz (14px, 500, normal);
            @media screen and (max-width: 850px){
                @include fontz (10px, 500, normal);
            }
            @media screen and (max-width: 500px){
                flex-direction: column;
            }
        }
    }
    &__link-wrap{
        width: 35%;
        @media screen and (max-width: 1160px){
          width: 50%;
        }
        @media screen and (max-width: 850px){
            width: 60%;
        }
        @media screen and (max-width: 650px){
            width: 100%;
        }
    }
    &__menu-wrap{
        display: flex;
        @media screen and (max-width: 850px){
            justify-content: center;
        }
        >:nth-child(1){
            width: 40%;
            @include fontz (21px,600, normal);
            @media screen and (max-width: 850px){
                @include fontz (18px, 600, normal);
            }
            @media screen and (max-width: 450px){
                width: 44%;
            }
        }
    }
    &__follow-icon, &__menu-link{
        width: 34%;
        @media screen and (max-width: 1400px) {
            width: 40%;
        }
        @media screen and (max-width: 650px) {
            width: 30%;
        }
        @media screen and (max-width: 500px){
            width: 40%;
        }
        @media screen and (max-width: 400px){
            width: 50%;
        }
        @media screen and (max-width: 350px){
            width: 56%;
        }
    }
    &__follow-icon{
        display: flex;
        a{
            margin-right: 50px;
            @media screen and (max-width: 800px){
                margin-right: 20px;
            }
            svg{
                path:hover{
                    fill: #fff;
                }
                rect:hover{
                    fill: #fff;
                }
            }
        }
    }
    &__fb{
        @media screen and (max-width: 800px) {
            width: 18px;
        }
    }
    &__tw{
        @media screen and (max-width: 800px) {
            width: 28px;
        }
    }
    &__ln{
        @media screen and (max-width: 800px) {
            width: 35px;
        }
    }
    &__menu-link{
        @include fontz (16px,600, normal);
        @media screen and (max-width: 850px){
            @include fontz (14px, 600, normal);
            justify-content: space-around!important;
        }
        @media screen and (max-width: 450px){
           text-align: center;
        }
        a{
            display: block;
            margin-left: 5px;
        }
    }
}