.popup {
    position: absolute;
    width: 100%;
    background: #F0F8FE;
    z-index: 10;
    height: calc(100vh - 150px);
    overflow: auto;
    display: none;
    .table_btn {
        background: #C4C4C4;
        display: block;
        margin: auto;
        padding: 16px 21px;
        @media all and (max-width: 1700px) {
            padding: 11px 14px;
            margin-top: -50px;
        }
        &.active {
            background: #6AFF8B;
        }
    }
}
.create-order {
    padding: 16px 40px 40px;
    position: absolute;
    @media all and (max-width: 1700px) {
        overflow: auto;
    }
    &_active {
        display: block;
    }
    &__header {
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background: #C4C4C4;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        color: #000000;
        text-align: center;
        @media screen and (max-width: 1700px){
            font-size: 18px;
            line-height: 21px;
        }
        @media screen and (min-width: 1720) and (max-width: 1700px){
            font-size: 24px;
        }
    }
    &__title_sub {
        position: absolute;
        margin-top: -17px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #000000;
        @media screen and (max-width: 1700px){
            font-size: 12px;
        }
    }
    &__content {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1700px) {
            margin-top: 20px;
        }
    }
    &__item {
        width: 48%;
        @media all and (max-width: 1700px){
            width: calc(50% - 21px);
        }
        .item-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            &>.input-block {
                width: 30%;
                margin-right: 5%;
                margin-bottom: 37px;
                @media all and (max-width: 1700px) {
                   width: calc(100% / 3 - 45px);
                    margin-bottom: 20px;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            .tooltip_underline {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 5px);
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                letter-spacing: 0.01em;
                color: #9FA4BB;
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                 }
            }
        }
    }
    &__star {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #9FA4BB;
        margin-top: 20px;
        @media screen and (max-width: 1700px){
            font-size: 10px;
            line-height: 12px;
        }
        span {
            color: #000;
        }
    }
    &__documents {
        margin-top: 62px;
        margin-right: 15px;
        @media screen and (max-width: 1700px){
            margin-top: 47px;
        }
        .order-photos__slide {
            img {
                width: 140px;
                height: 100%;
                @media screen and (max-width: 1700px){
                    width: 98px;
                }
            }
        }
    }
    &__photos {
        margin-right: 15px;
    }
    &-block {
        @media all and (max-width: 1366px){
            width: 1366px;
        }
    }
    .input-block {
        position: relative;
        & > span {
            width: 100%;
            }
        }
}

.order-photos {
    &__slide {
        background: rgba(196, 196, 196, 0.3);
        border-radius: 10px;
        padding: 15px 17px 14px;
        overflow: auto;
        width: 100%;
        @media screen and (max-width: 1700px){
            padding: 9px 10px 9px;
        }
        &-content {
            display: flex;
            &>div {
                margin-right: 10px;
                display: flex;
                img{width: 177px;
                    align-self: stretch;
                    @media screen and (max-width: 1700px){
                        width: 125px;
                    }
                }
            }
        }
        
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #9FA4BB;
        margin-bottom: 5px;
        @media all and (max-width: 1700px) {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 0;
        }
    }
    &__etc {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #9FA4BB;
        margin-top: 6px;
    }
}

.order-id {
    &-block {
        @media all and (max-width: 1366px) {
            width: 1366px;
            padding-top: 15px;
            position: relative;
        }
    }
    position: fixed;
    @media all and (max-width: 1710px) {
        overflow: auto;
    }
    &_active {
        display: block;
    }
    &__header {
        background: #F0EDB0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #60626A;
        z-index: 3;
        width: 100%;
        position: fixed;
        top: 152px;
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        text-align: center;
        @media all and (max-width: 1700px) {
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__content {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px 23px;
        @media all and (max-width: 1366px) {
            width: 1366px;
            position: relative;
            margin-top: 16px;
        }
    }
    &__description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .input-block {
            margin-bottom: 23px;
            @media all and (max-width: 1700px) {
                margin-bottom: 14px;
            }
            label {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #9FA4BB;
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                    line-height: 12px;
                    margin-bottom: 2px;
                }
            }
        }
    }
    &__chat {
        width: 68%;
    }
    &__information {
        width: 28%;
    }
    &__item {
        width: 48%;
    }
    &__documents {
        margin-top: 57px;

        @media screen and (max-width: 1700px){
            margin-top: 20px;
        }
        .order-photos__slide {
            img {
                width: 140px;
                height: 100%;
                @media screen and (max-width: 1700px){
                    width: 98px;
                }
            }
        }
    }
    .textarea-block {
        margin-top: 50px;
        @media screen and (max-width: 1700px){
            margin-top: 20px;
        }
    }
    .btn-close {
        display: block;
        margin: 0 auto 23px;
        @media screen and (max-width: 1700px){
            margin-top: -67px;
            position: relative;
            z-index:4;
        }
    }
    &__freight {
        .order-id__content {
            .order-id__item:first-child {
                width: 66%;
            }
            .order-id__item:last-child {
                width: 33%;
            }
        }
        .order-id__information {
            width: 48%;
        }
        .order-id__chat {
            width: 48%;
            position: relative;
            z-index: 0;
        }
        .order-id__inputs {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &>* {
                width: 46%;
            }
        }
    }
    .table-bids {
        display: flex;
        justify-content: space-between;
        &__block {
            width: calc(50% - 30px);
            @media all and (max-width: 1700px) {
                width: calc(50% - 15px);
            }
            &_title {
                text-align: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #E8121F;
                @media all and (max-width: 1700px) {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .order__string {
                margin-bottom: 10px;
                @media screen and (max-width: 1700px){
                    margin-bottom: 5px;
                }
                span{
                    font-size: 16px;
                    @media all and (max-width: 1700px) {
                        font-size: 11px;
                        line-height: 14px;
                    }
                }
                &> :nth-child(1) {
                    width: 10%;
                }
                &> :nth-child(2) {
                    width: 35%;
                }
                &> :nth-child(3) {
                    width: 30%;
                }
            }
            .order__lines {
                & div:nth-child(2) {
                    left: 48%;
                }
                & div:nth-child(3) {
                    left: 72%;
                }
            }
            .order__string-title {
                flex-wrap: wrap;
                width: 100%;
                left: 0;
                text-align: center;
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                    line-height: 12px;
                }
                & span:nth-child(1) {
                    display: inline-block;
                    width: 38%;
                    margin-left: 10%;
                    margin-right: 0%;
                }
                & span:nth-child(2) {
                    margin-right: 0%;
                    width: 25%;
                }
                & span:nth-child(3) {
                    width: 25%;
                }
            }
            .order__item {
                padding: 23px 0;
                height: 280px;
                width: 100%;
                background: #fff;
                margin: 0;
                overflow: auto;
                @media screen and (max-width: 1700px){
                    height: 163px;
                }
            }
            &_all {
                width: 100%;
                margin-top: 40px;
                .table-bids__block_title {
                    text-align: left;
                    margin-left: 60px;
                }
                .order__string {
                    &> :nth-child(1) {
                        width: 6%;
                    }
                    &> :nth-child(2) {
                        width: 15%;
                    }
                    &> :nth-child(3) {
                        width: 15%;
                    }
                    &> :nth-child(4) {
                        width: 15%;
                    }
                    &> :nth-child(5) {
                        width: 47%;
                        cursor: pointer;
                    }
                }
                .order__lines {
                    & div:nth-child(1) {
                        left: 5%;
                    }
                    & div:nth-child(2) {
                        left: 23%;
                    }
                    & div:nth-child(3) {
                        left: 34%;
                    }
                    & div:nth-child(4) {
                        left: 50%;
                    }
                }
                .order__string-title {
                    & span:nth-child(2) {
                        margin-right: 50px;
                    }
                    & span:nth-child(3) {
                        margin-right: 80px;
                    }
                }
                .order__string span{
                    font-size: 16px;
                    @media all and (max-width: 1700px) {
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
            }
            
        }
        
    }
    .table-quantity {
        margin-top: 20px;
        text-align: center;
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            color: #9FA4BB;
            margin-bottom: 10px;
            display: inline-block;
            @media all and (max-width: 1700px) {
                font-size: 10px;
                line-height: 16px;
            }
        }
        &__input {
            display: flex;
            align-items: center;
            justify-content: center;
            &_value {
                background: #FFFFFF;
                border: 0.5px solid #000000;
                box-sizing: border-box;
                box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                width: 118px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                margin: 0 10px;
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
        &__btn {
            width: 118px;
            height: 30px;
            line-height: 30px;
            background: linear-gradient(270deg, rgba(255, 0, 0, 0.97) 0%, rgba(255, 0, 0, 0.4) 100%);
            border-radius: 5px;
            margin: 10px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            outline: none;
            border: none;
            @media all and (max-width: 1700px) {
                font-size: 13px;
                line-height: 18px;
            }
            img {
                height: 90%;
                position: absolute;
                right: 2px;
            }
        }
        &__action {
            width: 30px;
            height: 30px;
            background: #E8F5FF;
            border: 0.5px solid #000000;
            box-sizing: border-box;
            border-radius: 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .table-attention {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #9FA4BB;
        @media all and (max-width: 1700px) {
            font-size: 10px;
            line-height: 12px;
        }
        b {
            color: #000000;
        }
    }
    .created-bids {
        display: none;
        &_active {
            display: block;
        }
    }
    .show-bids {
        display: none;
        &_active {
            display: block;
        }
        .order__string-title span:nth-child(1) {
            width: auto;
            @media all and (min-width: 1921px) {
                width: 16%;
                margin-left: 6%;
            }
        }
        .order__string-title span:nth-child(2) {
            margin-right: 0;
            @media all and (min-width: 1921px) {
                width: 13%;
                margin: 0;
            }
        }
        .order__string-title span:nth-child(3) {
            width: auto;
            @media all and (min-width: 1921px) {
                width: 16%;
                margin: 0;
            }
        }
        .order__string-title span:nth-child(4) {
            @media all and (min-width: 1921px) {
                width: 47%;
                text-align: center;
                margin: 0;
            }
        }
        .sub-menu {
            display: none;
            width: 84px;
            background: #EFF7FD;
            border: 0.3px solid #B6DAED;
            box-sizing: border-box;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 6px 10px;
            position: fixed;
            @media all and (max-width: 1700px) {
                width: 61px;
            }
            &-active {
                display: block;
            }
            ul {
                li {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 140%;
                    letter-spacing: 0.01em;
                    color: #000000;
                    margin-bottom: 10px;
                    cursor: pointer;
                    @media all and (max-width: 1700px) {
                        font-size: 8px;
                        line-height: 13px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .textarea-block {
        label {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #9FA4BB;
            @media all and (max-width: 1700px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}

.show-last-attention {
    display: none;
    margin-top: 40px;
}
.freight-auction-page  {
    .order-id__content {
        .input-double-field{
            .input-block {
                margin-bottom: 0;
            }
        }
        .order-id__documents {
            margin-top: 24px;
        }
        .textarea-block {
            margin-top: 22px;
        }
    }
    .show-last-attention {
        @media all and (max-width: 1700px) {
            position: relative;
            top: -15px;
        }
    }
    .order-id__information {
        .table-attention {
            @media all and (max-width: 1700px) {
                position: absolute;
                right: calc(33% - 320px);
                width: 320px;
                margin-top: -70px;
            }
        }
    }
}
.cargo-market-page{
    .select{
        height: auto;
    }
    .textarea-block{
        @media all and (max-width: 1700px){
            margin-top: 10px;
        }
    }
}