.header-authorized{
    align-items: center;
    display: flex;
    position: relative;
    
    &__mail {
        margin-right: 25px;
        position: relative;
        img{
        }
        span {
            display: inline-block;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            background: #0ED33A;
            position: absolute;
            top: -15px;
            right: -10px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            color: #000000;
        }
    }
    &__info {
        display: flex;
        position: relative;
        align-items: center;
    }
    &__chat {
        position: absolute;
        right: 0;
        bottom: -57px;
        cursor: pointer;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
    
        span:last-child {
            position: absolute;
            right: 18px;
            top: 3px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }
    }
    &__icon-home {
        margin-right: 27px;
        
        img {
            margin-top: -1px;
        }
    }
    &__icon-setting{
        margin: -5px 0 0 10px;
       
    }
    .user_info {
        display: flex;
        margin-right: 10px;
        &-name{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 21px;
            color: #FFFFFF;
            cursor: pointer;
        }
        &-avatar {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}



