.header-authorized{
    align-items: center;
    display: flex;
    position: relative;
    
    &__mail {
        margin-right: 25px;
        position: relative;
            @media all and (max-width: 1700px){
                margin-right: 19px;
            }
            &:hover{
                svg{
                    path{
                        fill: #72EDF2;
                    }
                }
            }
        svg{
            @media all and (max-width: 1700px){
                width: 20px;
            }
        }
        span {
            display: inline-block;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            background: #0ED33A;
            position: absolute;
            top: -11px;
            right: -6px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            color: #000000;
            @media all and (max-width: 1700px){
                font-size: 7px;
                line-height: 15px;
                width: 13px;
                height: 13px;
                top: -4px;
            }
        }
    }
    &__info {
        display: flex;
        position: relative;
        align-items: center;
        // &:hover{
        //     .user_info-name{
        //         color: #72EDF2;
        //     }
        //     svg{
        //         path{
        //             fill: #72EDF2;
        //         }
        //     }
        // }
    }
    &__chat {
        position: absolute;
        right: 0;
        bottom: -57px;
        cursor: pointer;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        @media all and (max-width: 1700px) {
            position: static;
            font-size: 17px;
            line-height: 19px;
        }
        &:hover{
            color: #72EDF2;
        }
        img{
            @media all and (max-width: 1700px){
                width: 25px;
            }
        }
        span:last-child {
            position: absolute;
            right: 18px;
            top: 3px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            @media all and (max-width: 1700px){
                font-size: 10px;
                line-height: 12px;
                right: 13px;
                top: 2px;
            }
        }
    }
    &__icon-home {
        margin-right: 27px;
        @media all and (max-width: 1700px){
            margin-right: 20px;
        }
        svg {
            margin-top: -1px;
            @media all and (max-width: 1700px){
                width: 17px;
            }
        }
        &:hover{
            svg{
                path{
                    fill: #72EDF2;
                }
            }
        }
    }
    &__icon-setting{
        margin: -5px 0 0 10px;
        @media all and (max-width: 1700px){
            margin-right: 17px;
        }
        svg{
            @media all and (max-width: 1700px){
                width: 14px;
            }
        }
        &:hover{
            svg{
                path{
                    fill: #72EDF2;
                }
            }
        } 
    }
    .user_info {
        display: flex;
        margin-right: 10px;
        &-name{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 21px;
            color: #FFFFFF;
            cursor: pointer;
            @media all and (max-width: 1700px) {
                font-size: 17px;
                line-height: 19px;
            }
            &:hover{
                color: #72EDF2;
            }
        }
        &-avatar {
            margin-right: 10px;
            cursor: pointer;
            svg{
                @media all and (max-width: 1700px){
                    width: 13px;
                }
                &:hover{
                    path{
                        fill: #72EDF2;
                    }
                }
            }
        }
    }
}



