.header{
    background: $bg-header;
    position: relative;
    z-index: 5;
    height: 120px;
    padding: 0 10px;
    position: relative;
    @media screen and (max-width: 1050px){
        height: 76px;
    }
    .container{
        justify-content: space-between;
    }
    .logo{
        width: 15%; 
        line-height: 120px;
        position: relative;
        @media screen and (max-width: 1500px){
            line-height: 120px;
        }
        @media screen and (max-width: 1050px){
            line-height: 65px;
            width: 130px; 
        }
        img{
            width: 100%;
        }  
        span{
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 16px;
            color: #FFFFFF;
            @media screen and (max-width: 1200px){
                bottom: 14px;
                font-size: 9px;
            }
            @media screen and (max-width: 1050px){
                bottom: -9px;
                font-size: 8px;
            }
        }
    }   
    &__log-in{
        background: none;
        color: $color_light-text;
        @include fontz (14px, normal, normal);
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.05em;
        border: none;
        margin-right: 17px;
        display: flex;
        align-items: flex-end;
        @media screen and (max-width: 1200px){
            font-size: 13px;
            margin-right: 11px;
        }
        @media screen and (max-width: 1050px){
            @include fontz (16px, normal, normal);
            margin-bottom: 15px;
            margin-right: 17px;
        }
        svg{
            width: 13px;
        }
        &:hover{
            color: #72EDF2;
            svg{
                path{
                    fill: #72EDF2;
                }
            }
        }
        svg{
            margin-right: 15px;
        }
    }
    .menu{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        display: flex;
        z-index: 0;
        @media screen and (max-width: 1200px){
            width: 87%;
        }
        @media screen and (max-width: 1050px){
            width: 33%;
            height: 100%;
            background: #024C76;
            top: 0;
            left: 0;
            flex-direction: column;
            padding-left: 20px!important;
            z-index: 5;
            position: fixed;
            display: none;
        }
        @media screen and (max-width: 600px){
            width: 70%;
        }
        &__main{
            flex-direction: row;
            justify-content: space-between;
            width: 73%;
            margin-left: 15px;
            @media screen and (max-width: 1050px){
                display: block!important;
                width: 100%;
                margin-left: 0px;
            }
            li{
                color: $color_light-text;
                font-family: 'Roboto', sans-serif;
                @media screen and (max-width: 1050px){
                    font-size: 14px;
                    margin-top: 15px;
                }
            }
        }
        &__list{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.05em;
            padding: 10px 0;
            position: relative;
            @media screen and (max-width: 1200px){
                font-size: 13px;
            }
            @media screen and (max-width: 1050px){
                display: block!important;
                overflow: hidden;
            }
            a{
                color: $color_light-text;
                text-decoration: none;
                &.active{
                    position: relative;
                    &:after{
                        position: absolute;
                        content:'';
                        height: 3px;
                        width: 100%;
                        background: #227CBC;;
                        bottom: -5px;
                        left: 0;
                    }
                }
            }
        }
        &__sub{
            background: #227CBC;
            width: max-content;
            transform: translate(0px, 10%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 0.3s ease 0s;
            position: absolute;
            top: 100%;
            -webkit-transition: opacity 0.3s ease 0s;
            -moz-transition: opacity 0.3s ease 0s;
            -ms-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            }
        &__sub-list{
            font-size: 12px;  
            font-weight: 400;
            font-style: normal;
            padding: 12px 5px;
            transition: 0.3s all;
            @media screen and (max-width: 1050px){
                padding: 0 5px;
                font-size: 16px;
            }
            
        }
        &__arrow{
            display: none;
        }
        &__wrap-btn{
            width: 24%;
            align-items: center;
            justify-content: flex-end;
            display: flex;
            &_disabled{
                display: none;
            }
            @media screen and (max-width: 1050px){
                flex-direction: column;
                align-items: baseline;
                width: 100%;
            }
        }
    }
    
    #open-account{
        background: #72EDF2;
        border-radius: 5px;
        @include fontz (14px, 300, normal);
        font-family: 'Roboto', sans-serif;
        color: #000;
        padding: 9px 13px;
        border: none;
        @media screen and (max-width: 1200px){
            font-size: 13px;
        }
        @media screen and (max-width: 1050px){
            padding: 9px 10px;
            font-size: 14px;
        }
        &:hover{
            opacity: 0.7;
        }
    }
    .header-authorized{
        display: none;
        &__mail {
            img{
                width: 20px;
                @media screen and (max-width: 1300px){
                
                }
            }
            span {
                width: 15px;
                height: 15px;
                line-height: 15px;
                top: -7px;
                right: -6px;
                @media screen and (max-width: 1300px){
                    
                }
            }
        }
        &__info {
            align-items: flex-end;
            @media all and (max-width: 1050px){
                position: absolute;
                top: -39px;
            }
        }
        &__chat {
            font-size: 14px;
            bottom: -39px;
            position: absolute;
            @media all and (max-width: 1050px){
                position: static;
                margin-left: 23px;
            }
            img{
                width: 25px;
            }
        }
        &__icon-setting{
            @media all and (max-width: 1700px){
                margin-right: 0px;
            }
            @media all and (max-width: 1050px){
                margin: -5px 0 0 0px;
            }
            img{
                width: auto;
            }
        }
        .user_info {
            &-name{
                font-size: 14px;
                line-height: 11px;
            }
        }
        .user_info-avatar{
            img{
                width: 13px;
            }
        }
        &_active{
            display: flex;
        }
    }
    
}
body.pc .menu__list:hover .menu__sub{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
}
body.pc .menu__list:hover >a{   
    color: #72EDF2;
}
body.pc .menu__sub-list:hover{
    &:hover{
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
body.touch .menu__arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform 0.3s ease 0s;
    margin-left: 5px;
    margin-bottom: 3px;
    -webkit-transition: transform 0.3s ease 0s;
    -moz-transition: transform 0.3s ease 0s;
    -ms-transition: transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
}
body.touch .menu__list {
    display: flex;
    align-items: center;
}
body.touch .menu_active{
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
}
body.touch .menu__list.active .menu__sub{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
    bottom: 0;
    left: 25px;
    background: none;
    position: relative;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
}
body.touch .menu__list.active .menu__arrow{
   transform: rotate(-180deg);
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
   -ms-transform: rotate(-180deg);
   -o-transform: rotate(-180deg);
}
.menu-mobile{
    &__open{
        display: none;
        border: none;
        background: none;
        @media screen and (max-width: 1050px) {
            z-index: 0;
            display: block;
            position: absolute;
            width: 30px;
            height: 18px;
            cursor: pointer;
            right: 20px;
            top: 75px;
            top: 50%;
            transform: translate(0px, -50%);
            -webkit-transform: translate(0px, -50%);
            -moz-transform: translate(0px, -50%);
            -ms-transform: translate(0px, -50%);
            -o-transform: translate(0px, -50%);
            &::after, &::before, span{
                left: 0;
                position: absolute;
                height: 2px;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #fff;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
            }
            &::after, &::before{
                content: "";
            }
            span{
                top: 50%;
                transform: translate(0px, 0px);
                -webkit-transform: translate(0px, 0px);
                -moz-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                -o-transform: translate(0px, 0px);
            }
            &::after{
                top: 2px;
            }
            &::before{
                bottom: 0;
            }
        }
    }
    &__close{
        display: none;
        border: none;
        background: none;
        @media screen and (max-width: 1050px) {
            z-index: 5;
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            cursor: pointer;
            right: 20px;
            top: 75px;
            top: 20px;
            z-index: 6;
            &::after, span{
                left: 0;
                position: absolute;
                height: 2px;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #fff;
                border-radius: 5px;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
            }
            &::after{
                content: "";
            }
            span{
                top: 50%;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }
            &::after{
                top: 50%;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
            }
        }
    }
    &__bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: left 0.3s ease 0s ;
        padding: 30px;
        display: none;
        -webkit-transition: left 0.3s ease 0s ;
        -moz-transition: left 0.3s ease 0s ;
        -ms-transition: left 0.3s ease 0s ;
        -o-transition: left 0.3s ease 0s ;
        &_active{
            display: block;
        }
        }
        
}