.popup{
    position: absolute;
    width: 100%;
    background: #F0F8FE;
    z-index: 10;
    height: calc(100vh - 150px);
    overflow: auto;
    display: none;

    .table_btn {
        background: #C4C4C4;
        display: block;
        margin: auto;

        &.send {
            background: #6AFF8B;
        }
    }
}
.create-order {
    padding: 16px 40px 40px;
    @media all and (max-width: 1710px){
        overflow: auto;
    }
    &_active {
        display: block;
    }
    &__header {
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background:#C4C4C4;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        @media all and (max-width: 1710px){
            width: 1710px;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        color: #000000;
        text-align: center;
    }
    &__title_sub {
        position: absolute;
        margin-top: -17px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #000000;
    }
    &__content {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1710px){
            width: 1710px;
        }
    }
    &__item {
        width: 48%;

        .item-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & > .input-block {
                width: 30%;
                margin-right: 5%;
                margin-bottom: 37px;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            .tooltip_underline {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 5px);
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                letter-spacing: 0.01em;
                color: #9FA4BB;
            }
        }
    }
    &__star {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #9FA4BB;
        margin-top: 20px;
        span{
            color: #000;
        }
    }
    &__documents {
        margin-top: 53px;

        .order-photos__slide {
            img {
                width: 18%;
            }
        }
    }
}
.order-photos {
    &__slide {
        background: rgba(196, 196, 196, 0.3);
        border-radius: 10px;
        padding: 15px 17px 14px;
        max-width: 955px;
        overflow: auto;
        display: flex;
        
        img {
            margin-right: 10px;
            width: 24%;
            &:last-child {
                padding-right: 17px;
            }
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #9FA4BB;
        margin-bottom: 5px;
    }
    &__etc {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #9FA4BB;
        margin-top: 6px;
    }
}
.order-id {
    @media all and (max-width: 1710px){
        overflow: auto;
    }
    &_active {
        display: block;
    }
    &__header {
        background: #F0EDB0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #60626A;
        @media all and (max-width: 1710px){
            width: 1710px;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        text-align: center;
    }
    &__content {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        padding: 19px 20px 23px;
        @media all and (max-width: 1710px){
            width: 1710px;
        }
    }
    &__description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input-block {
            margin-bottom: 23px;

            label {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #9FA4BB;
            }
        }
    }
    &__chat {
        width: 68%;
    }
    &__information {
        width: 28%;
    }
    &__item {
        width: 48%;
    }
    &__documents {
        margin-top: 57px;

        .order-photos__slide {
            img {
                width: 18%;
            }
        }
    }
    .textarea-block {
        margin-top: 50px;
    }
    .btn-close {
        display: block;
        margin: 0 auto 23px;
    }
    &__freight {
        .order-id__content {
            .order-id__item:first-child {
                width: 66%;
            }
            .order-id__item:last-child  {
                width: 33%;
            }
        }
        .order-id__information {
            width: 48%;
        }
        .order-id__chat {
            width: 48%;
        }
        .order-id__inputs {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            & > * {
                width: 46%;
            }
        }
    }
    .table-bids {
        display: flex;
        justify-content: space-between;
        overflow: auto;
        &__block {
            width: 48%;
            min-width: 240px;
            &_title {
                text-align: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #E8121F;
            }
            .order__string {
                margin-bottom: 10px;
                font-size: 16px;

                & > :nth-child(1) {
                    width: 10%;
                }
                & > :nth-child(2) {
                    width: 35%;
                }
                & > :nth-child(3) {
                    width: 30%;
                }
            }

            .order__lines {
                & div:nth-child(2) {
                    left: 48%;
                }
                & div:nth-child(3) {
                    left: 72%;
                }
            }
            .order__string-title {
                flex-wrap: wrap;
                width: 100%;
                left: 0;
                text-align: center;
                & span:nth-child(1) {
                    display: inline-block;
                    width: 38%;
                    margin-left: 10%;
                    margin-right: 0%;
                }
                & span:nth-child(2) {
                    margin-right: 0%;
                    width: 25%;
                }
                & span:nth-child(3) {
                    width: 25%;
                }
            }
            .order__item {
                padding: 23px 0;
                height: 280px;
                width: 100%;
                // min-width: 240px;
                background: #fff;
                margin: 0;
                overflow: auto;
            }
            &_all {
                width: 100%;
                margin-top: 40px;
                overflow: auto;

                .table-bids__block_title {
                    text-align: left;
                    margin-left: 60px;
                }
                .order__string {
                    & > :nth-child(1) {
                        width: 6%;
                    }
                    & > :nth-child(2) {
                        width: 15%;
                    }
                    & > :nth-child(3) {
                        width: 15%;
                    }
                    & > :nth-child(4) {
                        width: 15%;
                    }
                    & > :nth-child(5) {
                        width: 47%;
                        cursor: pointer;
                    }
                }
                .order__lines {
                    & div:nth-child(1) {
                        left: 5%;
                    }
                    & div:nth-child(2) {
                        left: 23%;
                    }
                    & div:nth-child(3) {
                        left: 34%;
                    }
                    & div:nth-child(4) {
                        left: 50%;
                    }
                }
                .order__string-title {
                    & span:nth-child(2) {
                        margin-right: 50px;
                    }
                    & span:nth-child(3) {
                        margin-right: 80px;
                    }
                }
            }
        }
    }
    .table-quantity {
        margin-top: 20px;
        text-align: center;
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            color: #9FA4BB;
            margin-bottom: 10px;
            display: inline-block;
        }
        &__input {
            display: flex;
            align-items: center;
            justify-content: center;
            &_value {
                background: #FFFFFF;
                border: 0.5px solid #000000;
                box-sizing: border-box;
                box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                width: 118px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                margin: 0 10px;
            }
        }
        &__btn {
            width: 118px;
            height: 30px;
            line-height: 30px;
            background: linear-gradient(270deg, rgba(255, 0, 0, 0.97) 0%, rgba(255, 0, 0, 0.4) 100%);
            border-radius: 5px;
            margin: 10px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            outline: none;
            border: none;

            img {
                height: 90%;
                position: absolute;
                right: 2px;
            }
        }
        &__action {
            width: 30px;
            height: 30px;
            background: #E8F5FF;
            border: 0.5px solid #000000;
            box-sizing: border-box;
            border-radius: 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .table-attention {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #9FA4BB;

        b {
            color: #000000;
        }
    }
    .created-bids {
        display: none;
        &_active {
            display: block;
        }
    }
    .show-bids {
        display: none;
        &_active {
            display: block;
        }
        .order__item {
            width: 540px;
        }
        .order__string-title span:nth-child(1) {
            width: auto;
        }
        .order__string-title span:nth-child(2) {
            margin-right: 0;
        }
        .order__string-title span:nth-child(3) {
            width: auto;
        }
        .sub-menu {
            display: none;
            width: 84px;
            background: #EFF7FD;
            border: 0.3px solid #B6DAED;
            box-sizing: border-box;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 6px 10px;
            position: fixed;
            &-active {
                display: block;
            }

            ul {
                li {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 140%;
                    letter-spacing: 0.01em;
                    color: #000000;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
    .textarea-block {
        label {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #9FA4BB;
        }
    }
}
.show-last-attention {
    display: none;
    margin-top: 40px;
}