.header_table {
    background: #024C76;
    display: flex;
    justify-content: space-between;
    padding: 0 27px 0 25px;
    @media all and (max-width: 1300px) {
        width: 1300px;
        position: relative;
    }
    @media all and (max-width: 800px) {
        overflow: auto;
    }

    &-btns {
        text-align: center;
        width: 13%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 29px;
        min-height: 129px;
        @media all and (max-width: 1120px) {
            min-width: 190px;
        }
    }
    &-btn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 244px;
        &.mt {
            margin-top: 27px;
        }
        button {
            width: 48%;
            font-size: 12px;
            @media all and (max-width: 1600px) {
                width: auto;
                &:first-child{
                   margin-bottom: 10px; 
                }
            }
        }
        @media all and (max-width: 1600px) {
            flex-direction: column;
        }
        @media all and (max-width: 1120px) {
            flex-direction: row;
            align-items: baseline;
        }
    }
    &-logo {
        margin-bottom: 15px;
        width: 100%;
        min-height: 77px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    &-block {
        width: 86%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media all and (max-width: 800px) {
            min-width: 600px;
        }
    }
    .times_block {
        width: calc(100% - 100px);
        background: #0878B7;
        border-radius: 5px 5px 0px 0px;
        padding: 14px 15px;
        // @media all and (max-width: 1100px) {
        // display: none;
        // }
        &-content {
            display: flex;
            justify-content: space-around;
            color: #fff;
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            @media screen and (max-width: 1350px){
                font-size: 12px;
            }
            @media screen and (max-width: 1200px){
                font-size: 10px;
            }
            @media all and (max-width: 1120px) {
                width: 1120px;
            }
        }
        @media all and (max-width: 1120px) {
            overflow: auto;
        }
        &-locate {
            margin-bottom: 5px;
        }
    }
    &-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        @include adaptive-fonts(30, 24);
        line-height: 37px;
        color: #FFFFFF;
        text-align: center;
        width: calc(100% - 303px);
        margin-top: 20px;
    }
    .header-authorized{
        right: 21px;
        top: -35px;
        position: absolute;

        // @media all and (max-width: 800px) {
        //     position: static;
        // }
    }
    
    .header_info {
        top: 30px;
    }
    // .header_chat {
    //     position: absolute;
    //     right: 0;
    //     bottom: -35px;
    //     cursor: pointer;
    //     font-family: 'Roboto';
    //     font-style: normal;
    //     font-weight: 500;
    //     @include adaptive-fonts(22, 14);
    //     line-height: 26px;
    //     color: #FFFFFF;
    //         @media all and (max-width: 1120px) {
    //             top: 35px;
    //         }

    //     span:last-child {
    //         position: absolute;
    //         right: 18px;
    //         top: 3px;
    //         font-family: 'Roboto';
    //         font-style: normal;
    //         font-weight: 500;
    //         font-size: 14px;
    //         line-height: 16px;
    //         color: #000000;
    //     }
    // }
    // .icon_home {
    //     margin-right: 27px;
        
    //     img {
    //         margin-top: -1px;
    //     }
    // }
    // .header_info-mail {
    //     margin-right: 25px;
    //     position: relative;

    //     span {
    //         display: inline-block;
    //         width: 18px;
    //         height: 18px;
    //         text-align: center;
    //         line-height: 18px;
    //         border-radius: 50%;
    //         background: #0ED33A;
    //         position: absolute;
    //         top: -15px;
    //         right: -10px;
    //         font-family: 'Roboto';
    //         font-style: normal;
    //         font-weight: 500;
    //         font-size: 10px;
    //         color: #000000;
    //     }
    // }
}