@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    src: local('Montserrat-Black'), local('Montserrat-Black');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: local('../fonts/HelveticaNeueCyr-Bold');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$color_light-text:#FFFFFF;
$color_main-title: #0544BB;
$color_main-description:#65676C;
$bg-header: #024C76;
$color_btn-find-more:#33C1EF;
$bgservice: #F1FAFF;
@mixin fontz ($fs,$w,$s) {
    font-size: $fs;
    font-weight: $w;
    font-style: $s;
}

$maxWidth: 1440;
@mixin adaptive-fonts($pcSize,
$mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((110vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px}+#{$addSize} * ((100vw) / #{$maxWidth}));
    }
}

html {
    scrollbar-color: #9FA4BB rgba(216, 216, 216, 0.47);
    /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;
    /* толщина */
     ::-webkit-scrollbar {
        width: 4px;
        /* ширина для вертикального скролла */
        height: 6px;
        /* высота для горизонтального скролла */
    }
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(216, 216, 216, 0.47);
        border-radius: 2px;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px #9FA4BB;
    }
}

body {
    font-family: 'Montserrat', sans-serif!important;
    &>* {
         ::-webkit-scrollbar {
            width: 4px;
            /* ширина для вертикального скролла */
            height: 6px;
            /* высота для горизонтального скролла */
        }
         ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(216, 216, 216, 0.47);
            border-radius: 2px;
        }
         ::-webkit-scrollbar-thumb {
            border-radius: 2px;
            -webkit-box-shadow: inset 0 0 6px #9FA4BB;
        }
    }
}

.container {
    max-width: 1200px;
    @media screen and (max-width: 1200px) {
        max-width: 96%;
    }
    @media screen and (max-width: 1050px) {
        max-width: 95%;
    }
}

.simplebar-vertical {
    width: 7px !important;
}

.simplebar-horizontal {
    height: 7px !important;
}

.simplebar-content-wrapper {
    overflow: auto !important;
}

@import"header.scss";
@import"footer.scss";
@import"buttons.scss";
@import"home.scss";
@import"service.scss";
@import"service-block.scss";
@import"categories.scss";
@import"header_table.scss";
@import"table.scss";
@import"select.scss";
@import"ui.scss";
@import"header-table-popup.scss";
@import"header-authorized.scss";
@import"account-orders.scss";
@import"pop-up.scss";
@import"companies-logo.scss";
@import"companies-logo-list.scss";
@import"registration.scss";
@import"account-setting.scss";