.pop-up{
    border-radius: 15px;
    background: #FFFFFF;
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    z-index: 10;
    left: 50%;
    max-height: 780px;
    overflow: auto;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: none;
    &_open{
        display: block !important;
    }
}
.pop-up-delete{
    background: #EAF8FF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 391px;
    padding: 31px 0 58px;
    @media all and (max-width: 767px) {
        width: 80%;
        padding: 20px 0 30px;
    }
    &_active{
        display: block;
    }
    &__btn{
        border: 1px solid #05AB41;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        margin-top: 30px;
        padding: 0 11px;
        &_yes{
            background: #53F376;
            margin-right: 73px;
        }
        &_no{
            background: #FF5C7A;
        }
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
}
.pop-up-message{
    width: 80%;
    height: 80vh;
    padding: 14px 49px 15px;
    @media screen and (max-width: 1700px) {
        padding: 14px 40px 15px;
        width: 91.3%;
        top:0;
        transform: translate(-50%, 120px);
        -webkit-transform: translate(-50%, 120px);
        -moz-transform: translate(-50%, 120px);
        -ms-transform: translate(-50%, 120px);
        -o-transform: translate(-50%, 120px);
}
    @media screen and (max-width: 767px) {
        width: 100%;
        height: 100vh;
        max-height: 100%;
        border-radius: 0;
        padding: 14px 18px 15px;
        left: 0;
        transform: translate(0%, 0px);
        -webkit-transform: translate(0%, 0px);
        -moz-transform: translate(0%, 0px);
        -ms-transform: translate(0%, 0px);
        -o-transform: translate(0%, 0px);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .simplebar-content{
        height: 100%;
    }
    .simplebar-vertical {
        right: -5px;
    }
    &__block {
        height: calc(100% - 50px);
    }
    &_open{
        display: flex;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        line-height: 35px;
        letter-spacing: 0.01em;
        color: #0F0F11;
        font-size: 30px;
        margin-bottom: 19px;
        font-weight: 600;
        text-align: center;
        @media screen and (max-width: 1700px){
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 15px;
        }
        @media all and (max-width: 715px){
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 22px;
        }
    }
   &__back-arrow{
        width: 38px;
        height: 38px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        position: absolute;
        background: #FAF4F4;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: none;
        flex-shrink: 1;
        @media (max-width: 1700px) {
            width: 31px;
            height: 31px;
        }
        @media (max-width: 767px) {
            width: 19px;
            height: 19px;
        }
        img{
            @media (max-width: 1700px) {
                width: 15px;
            }
            @media (max-width: 767px) {
                max-width: 9px;
                width: 100%;
                flex-shrink: 1;
            }
        }
        &.active {
            display: flex;
        }

        &:hover{
            background: #D2D6E4;
        }
    }
    hr{
        background: #C4C4C4;
        margin: 0;
    }
    &__wrap-string{
        margin-bottom: 30px;
        max-height: calc(100% - 70px);
        overflow: auto;
        &_disabled{
            display: none;
        }
        &::-webkit-scrollbar { 
            width: 0; 
            display: none;
        }
    }
    &__string{
        border-bottom: 1px solid #979797;
        padding: 13px 0;
        cursor: pointer;
        @media (max-width: 1700px) {
            padding: 8px 0;
        }
        @media (max-width: 700px) {
            flex-wrap: wrap;
            padding: 13px 0;
        }
        &_unread{
            background: rgba(218, 218, 218, 0.3);
        }
    }
    &__sender{
        width: 25%;
        font-style: normal;
        font-weight: 600;
        @include adaptive-fonts(20, 13);
        line-height: 24px;
        padding-left: 18px;
        @media (max-width: 1700px) {
            padding-left: 16px;
            line-height: 20px;
            padding-left: 15px;
        }
        @media (max-width: 767px) {
            font-size: 10px;
            line-height: 12px;
            width: 18%;
            padding-left: 10px;
        }
        &_unread{
            font-weight: 700;
        }
    }
    &__subject{
        width: 50%;
        font-style: normal;
        font-weight: 500;
        @include adaptive-fonts(20, 13);
        line-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @media (max-width: 1700px) {
            padding-left: 16px;
            line-height: 20px;
        }
        @media (max-width: 767px) {
            font-size: 10px;
            line-height: 12px;
            width: 40%;
        }
        &_unread{
            font-weight: 600;
        }
    }
    &__date{
        width: 35%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        @include adaptive-fonts(20, 12);
        text-align: end;
        padding-right: 18px;
        @media (max-width: 1700px) {
            padding-left: 14px;
            line-height: 17px;
        }
        @media (max-width: 767px) {
            font-size: 10px;
            line-height: 12px;
            padding-right: 18px;
            width: 42%;
        }
    }
    .btn-close{
        margin: auto;
        position: relative;
        z-index: 1;
    }
}
.message-wrap{
    max-height: calc(100% - 65px);
    height: 100%;
    display: none;
    overflow: auto;
    &::-webkit-scrollbar { 
        width: 0; 
        display: none;
    }
    &_active{
        display: block;
    }
    &__title{
        margin: 37px 0 5px;
        div{
            position: relative;
            padding: 0;
            text-align: left;
            @include adaptive-fonts(16, 12);
            font-weight: 500;
            line-height: 27px;
            &::after{
                position: absolute;
                content: "";
                height: 1px;
                background: #C4C4C4;
                bottom: 0px;
                left: 0;
                width: 100%;
            }
        }
    }
    .pop-up-message__sender{
        padding: 0;
    }
    .pop-up-message__date{
        margin: 27px 0 23px;
        @media (max-width: 767px) {
            margin: 10px 0 10px;
        }
    }
    &__body-wrap{
        height: calc(100% - 180px);
    }
    &__body{
        margin: 20px 0;
        font-style: normal;
        font-weight: 500;
        @include adaptive-fonts(16, 12);
        line-height: 22px;
        letter-spacing: 0.01em;
    }
    &__signature{
        p{
            font-style: normal;
            font-weight: 500;
            @include adaptive-fonts(16, 12);
            line-height: 22px;
            letter-spacing: 0.01em;
            margin-bottom: 20px;
            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
    }
}
.pop-up-log-in{
    .popup-wrap-block{
        @media screen and(max-width: 1700px){
            padding: 35px 40px 35px 40px;
            width: 40%;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        .pop-up-log-in__title{
            margin-bottom: 40px;
            @media screen and (max-width: 1700px){
                margin-bottom: 30px;
            }
            @media screen and (max-width: 500px){
                margin-top: 12px;
            }
            h1{
               text-align: left;
               font-family: 'Helvetica', sans-serif;
                @media all and (max-width: 767px){
                    color: $color_light-text;
                    font-size: 26px;
                }
            }
            p{
                font-family: 'Helvetica', sans-serif;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.01em;
                color: #556274;
                @media screen and (max-width: 767px) {
                    font-size: 12px;
                    color: $color_light-text;
                }
            }
        }
    }
    .log-in-form{
        width: 100%;
        
        .field{
            label{
                font-family: 'Helvetica', sans-serif;
                font-weight: normal;
                @media screen and (max-width: 1700px){
                    font-size: 14px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 12px;
                    color: $color_light-text;
                }
            }
            input{
                font-family: 'Helvetica', sans-serif;
                font-weight: normal;
                ::placeholder{
                    font-family: 'Helvetica', sans-serif;
                    font-weight: normal;
                }
                @media screen and (max-width: 767px) {
                    background: #D8EEFA;
                    border: 0.886667px solid rgba(196, 196, 196, 0.7);
                }
            }
        }
        &__btn{
            font-family: 'Helvetica', sans-serif;
            font-weight: 500;
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            padding: 15px 0px;
            border: none;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            font-style: normal;
            font-weight: 600;
            &_google{
                box-shadow: 0px 4px 16px rgba(10, 8, 58, 0.1);
                background: #FFFFFF;
                img{
                    padding-right: 12px;
                }
            }
            &_log-in{
                color: #FFFFFF;
                background: #0F0F11;
                
            }
        }
        span{
            position: relative;
            font-size: 14px;
            line-height: 140%;
            margin: 8px 0;
            display: flex;
            justify-content: center;
            letter-spacing: 0.01em;
            color: #9FA4BB;
            font-family: 'Helvetica', sans-serif;
            font-weight: bold;
            @media screen and (max-width: 425px) {
                color: $color_light-text;
            }
            &::before, &:after{
                position: absolute;
                content:"";
                width: 40%;
                height: 1px;
                background: #F3F6F8;
                top: 50%;
                transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                @media screen and (max-width: 425px) {
                    color: $color_light-text;
                }
            }
            &:after{
                right: 5px;
            }
            &:before{
                left: 5px;
            }
        }
        .forgot{
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: #9FA4BB;
            margin: 6px 0 24px;
            background: none;
            border: none;
            font-weight: 500;
            position: relative;
            padding: 0;
            @media screen and (max-width: 767px) {
                color: $color_light-text;
            }
            &:hover{
                &:after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: #9FA4BB;
                    bottom: 0px;
                    left: 0; 
                }
            }
        }
       

    }
    .close-btn-log-in{
        position: absolute;
        right: 21px;
        top: 35px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        background: none;
        &:after, &::before{
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            top: 0;
            left: 0;
            background: #9FA4BB;
        } 
        &::after{
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
}
        &::before{
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
}
    }
    &__support{
        line-height: 16px;
        color: #6C7077;
        @include fontz (14px, 500, normal);
        margin-top: 26px;
        font-family: 'Roboto', sans-serif;
        @media screen and (max-width: 767px) {
            color: $color_light-text;
        }
        a{
            color: #6C7077;
            text-decoration: none;
            @media screen and (max-width: 767px) {
                color: $color_light-text;
            }
        }
    }
    .close-cross-popup{
        &:after, &:before{
            @media screen and (max-width: 767px) {
                background: $color_light-text;
            }
        }
    }
    .pop-up-mobile{
        @media screen and (max-width: 767px){
            height: 100%;
        }

    }
}
.popup-add-ship {
    width: 75%;
    left: 50%;
    padding: 10px 45px 30px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);

    @media all and (max-width: 1200px) {
        width: 90%;
    }
    .item-row {
        justify-content: space-between;
    }
    .item-row > .input-block {
        width: 40%;
        margin-right: 10%;
        margin-bottom: 20px;
    }
    .item-row > .input-block:nth-child(3n) {
        margin-right: 10%;
    }
    .item-row > .input-block:nth-child(2n) {
        margin-right: 0;
    }
    .table_btn {
        margin-top: 40px;
    }
    .input-block label {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #9FA4BB;
    }
    .create-order__photos {
        margin: 40px 0;
    }
    .textarea-block {
        label {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #9FA4BB;
        }
    }
}
.popup-user-info {
    flex-wrap: wrap; 
    max-width: 600px;
    height: fit-content;
    background: #F9FBFC;
    border: 0.5px solid #B6DAED;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 13px 27px 22px;
    @media all and (max-width: 1700px) {
        max-width: 540px;
        padding: 11px 24px 0px;
    }
    &__active {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 45px;
        @media all and (max-width: 1700px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__content {
        width: calc(100% - 150px);
        display: flex;
        flex-direction: column;
        margin-bottom: 75px;
        @media all and (max-width: 1700px) {
            margin-bottom: 68px;
        }
    }
    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 30px;
        @media all and (max-width: 1700px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__avatar {
        margin-top: -15px;
        margin-right: 30px;
    }

    .user-info-data {
        display: flex;
        margin-bottom: 20px;

        &__field {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: #979797;
            width: 20%;
            @media all and (max-width: 1700px) {
                font-size: 10px;
                line-height: 14px;
            }
        }
        &__value {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: #000000;
            @media all and (max-width: 1700px) {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
.pop-up-log-out{
    max-width: 458px;
    padding: 53px 60px 50px;
    text-align: center;
    &_active{
        display: block;
    }
    @media (max-width: 500px) {
        width: 90%;
        padding: 30px 20px 30px;
    }
    h1{
        margin: 32px 0 20px;
        font-family: 'Helvetica', sans-serif;
        font-weight: bold;
    }
    .btn-concel{
        border: 1px solid #0F0F11;
        color: #0F0F11;
        background: none;
        font-family: 'Helvetica', sans-serif;
        font-weight: 500;
    }
    .btn-close{
        width: 165px;
        margin: 0 5px;
        font-family: 'Helvetica', sans-serif;
        font-weight: 500;
    }
}
.close-cross-popup{
    position: absolute;
    right: 21px;
    top: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: none;
    @media screen and (max-width: 500px){
        top: 20px;
    }
    &:after, &::before{
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        left: 0;
        background: #9FA4BB;
    } 
    &::after{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}
    &::before{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}
.field{
    margin-top: 16px;
    width: 100%;
    position: relative;
    @media screen and (max-width: 500px){
        margin-top: 12px;
    }
    label{
        @include fontz (19px, 500, normal);
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #9FA4BB;
        @media screen and (max-width: 1700px){
            font-size: 12px;
        }
    }
    input{
        padding: 14px 16px;
        background: #F3F6F8;
        border: 1px solid #F3F6F8;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        font-weight: 500;
        &:hover{
            border: 1px solid #9FA4BB;
        }
        &::placeholder {
            @media screen and (max-width: 400px){
                font-size: 12px;
            }
        }
    }
    .display-password{
        position: absolute;
        right: 18px;
        bottom: 15px;
        cursor: pointer;
        display: none;
        &_active{
            display: block;
        }
    }
}
.field-default{
    input{
        border: 1px solid rgba(196, 196, 196, 0.7);
        box-shadow: none;
        background: #fff;
    }
}
.pop-up-forgot-password{
    padding: 40px 30px 40px;
    text-align: center;
    @media screen and (max-width: 500px){
        min-width: 90%;
        padding: 20px 20px;
    }
    h1{
        width: 90%;
        margin: auto;
        font-family: 'Helvetica', sans-serif;
        font-weight: 500;
        color: #0F0F11;
        @media screen and (max-width: 900px){
            font-size: 22px;
        }
        @media screen and (max-width: 500px){
            font-size: 16px;
        }
    }
    p{
        margin: 20px auto 0;
        width: 80%;
        color: #556274;
        @media screen and (max-width: 500px){
            width: 100%;
        }
    }
    form{
        width: 90%;
        margin: auto;
        .btn-close{
            margin: 20px auto;
            font-family: 'Helvetica', sans-serif;
            font-weight: 500;
        }
    }
    
    .close-cross-popup{
        @media screen and (max-width: 900px){
            top:15px;
            right: 15px;
        }
    }
}
.pop-up-delete-account {
    min-width: 470px;
    padding: 35px 67px;
    @media screen and (max-width: 1200px){
        min-width: 370px;
        padding: 30px 30px;
    }
    @media screen and (max-width: 500px){
        min-width: 90%;
        padding: 20px 20px;
    }
    h1{
        font-weight: 500;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: normal;
    }
    .field{
        margin-bottom: 30px;
        @media screen and (max-width: 1700px){
            margin-top: 0px; 
        }
        label{
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
        }
        input{
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            ::placeholder{
                font-family: 'Roboto', sans-serif;
                font-weight: normal;
            }
        }
    }
    &__btn{
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 14px 29px;
        margin: 52px auto 0;
        font-weight: 500;
        @media screen and (max-width: 1700px){
            margin: 23px auto 0;
        }
        &.successfully{
            background: #BCB8B8;
        }
    }
    .close-cross-popup{
        top: 14px;
        right: 14px;
    }

}
.pop-up-deleted{
    padding: 45px 32px;
    text-align: center;
    @media screen and (max-width: 500px){
        padding: 20px 22px;
        width: 80%;
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
        @media screen and (max-width: 500px){
            font-size: 14px;
        }
    }
    .btn-close{
        margin-top: 49px;
    }
}
.pop-up-registration_active {
    opacity: 1 !important;
}

.popup-wrapper{
    display: none;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 10;
    &::-webkit-scrollbar { 
        width: 0; 
        display: none;
    }
    &_open{
        display: block;
    }
}
.popup-wrap-block{
    border-radius: 15px;
    background: #FFFFFF;
    box-sizing: border-box;
    left: 50%;
    position: relative;
    transform: translate(-50%, 120px);
    -webkit-transform: translate(-50%, 120px);
    -moz-transform: translate(-50%, 120px);
    -ms-transform: translate(-50%, 120px);
    -o-transform: translate(-50%, 120px);
    @media screen and (max-width: 1050px){
        transform: translate(-50%, 76px);
        -webkit-transform: translate(-50%, 76px);
        -moz-transform: translate(-50%, 76px);
        -ms-transform: translate(-50%, 76px);
        -o-transform: translate(-50%, 76px);
    }
    @media screen and (max-width: 425px){
        transform: translate(-50%, 0px);
        -webkit-transform: translate(-50%, 0px);
        -moz-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
        -o-transform: translate(-50%, 0px);
    }
    h1{
        font-family: 'Roboto', sans-serif;
        line-height: 35px;
        letter-spacing: 0.01em;
        color: #0F0F11;
        font-size: 30px;
        margin-bottom: 8px;
        font-weight: 600;
        text-align: center;
        @media screen and (max-width: 1700px){
            font-size: 26px;
            line-height: 32px;
        }
        @media all and (max-width: 715px){
            font-size: 16px;
            line-height: 18px;
        }
    }
}
.pop-up-mobile{
    @media screen and (max-width: 767px) {
        width: 100%;
        height: fit-content;
        border-radius: 0;
        padding: 14px 18px 15px;
        left: 0;
        transform: translate(0%, 0px);
        -webkit-transform: translate(0%, 0px);
        -moz-transform: translate(0%, 0px);
        -ms-transform: translate(0%, 0px);
        -o-transform: translate(0%, 0px);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        background: $bg-header;
    }
    h1 {
        @media all and (max-width: 715px){
            margin-bottom: 16px;
            color: $color_light-text;
        }
    }
}
