@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BoldItalic.ttf");
  src: local("Montserrat"), local("Montserrat");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Thin.ttf");
  src: local("Montserrat"), local("Montserrat");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  src: local("Montserrat"), local("Montserrat");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.ttf");
  src: local("Montserrat"), local("Montserrat");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BoldItalic.ttf");
  src: local("Montserrat"), local("Montserrat");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  src: local("Montserrat-Black"), local("Montserrat-Black");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  src: local("Roboto"), local("Roboto");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Montserrat", sans-serif !important;
  color: #000000; }

.container {
  max-width: 1710px; }
  @media screen and (max-width: 1720px) {
    .container {
      max-width: 95%; } }

.header {
  background: #024C76;
  height: 155px;
  padding: 0 25px;
  justify-content: space-between;
  position: relative; }
  @media screen and (max-width: 1500px) {
    .header {
      height: 100px;
      padding: 0 10px; } }
  @media screen and (max-width: 1050px) {
    .header {
      height: 65px; } }
  .header .logo {
    line-height: 155px;
    width: 12%; }
    @media screen and (max-width: 1500px) {
      .header .logo {
        line-height: 100px;
        width: 116px; } }
    @media screen and (max-width: 1050px) {
      .header .logo {
        line-height: 65px;
        width: 130px; } }
    .header .logo img {
      width: 100%; }
  .header__log-in {
    background: none;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    border: none;
    margin-right: 17px;
    display: flex; }
    @media screen and (max-width: 1800px) {
      .header__log-in {
        font-size: 18px; } }
    @media screen and (max-width: 1500px) {
      .header__log-in {
        font-size: 13px; } }
    @media screen and (max-width: 1050px) {
      .header__log-in {
        font-size: 11px; } }
    @media screen and (max-width: 500px) {
      .header__log-in {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        margin-bottom: 15px; } }
    @media screen and (max-width: 1500px) {
      .header__log-in svg {
        width: 13px; } }
    .header__log-in:hover {
      color: #72EDF2; }
      .header__log-in:hover svg path {
        fill: #72EDF2; }
    .header__log-in svg {
      margin-right: 15px; }
  .header .menu {
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 80%;
    display: flex; }
    @media screen and (max-width: 1800px) {
      .header .menu {
        width: 88%; } }
    @media screen and (max-width: 1050px) {
      .header .menu {
        width: 70%;
        height: 100%;
        background: #024C76;
        top: 0;
        left: 0;
        flex-direction: column;
        padding-left: 20px !important;
        z-index: 5;
        width: 70%;
        position: fixed;
        display: none; } }
    .header .menu__main {
      flex-direction: row;
      justify-content: space-between;
      width: 80%; }
      @media screen and (max-width: 1500px) {
        .header .menu__main {
          width: 78%; } }
      @media screen and (max-width: 1050px) {
        .header .menu__main {
          display: block !important;
          width: 100%; } }
      .header .menu__main li {
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif; }
        @media screen and (max-width: 1050px) {
          .header .menu__main li {
            font-size: 11px; } }
        @media screen and (max-width: 767px) {
          .header .menu__main li {
            margin-top: 15px; } }
    .header .menu__list {
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0.05em;
      padding: 10px 0;
      position: relative; }
      @media screen and (max-width: 1800px) {
        .header .menu__list {
          font-size: 18px; } }
      @media screen and (max-width: 1500px) {
        .header .menu__list {
          font-size: 16px; } }
      @media screen and (max-width: 1300px) {
        .header .menu__list {
          font-size: 13px; } }
      @media screen and (max-width: 1050px) {
        .header .menu__list {
          display: block !important;
          overflow: hidden; } }
      .header .menu__list a {
        color: #FFFFFF;
        text-decoration: none; }
        .header .menu__list a.active {
          position: relative; }
          .header .menu__list a.active:after {
            position: absolute;
            content: '';
            height: 3px;
            width: 100%;
            background: #227CBC;
            bottom: -5px;
            left: 0; }
    .header .menu__sub {
      background: #227CBC;
      min-width: 173px;
      transform: translate(0px, 10%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
      position: absolute;
      top: 100%;
      -webkit-transition: opacity 0.3s ease 0s;
      -moz-transition: opacity 0.3s ease 0s;
      -ms-transition: opacity 0.3s ease 0s;
      -o-transition: opacity 0.3s ease 0s; }
    .header .menu__sub-list {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      padding: 12px 5px;
      transition: 0.3s all; }
      @media screen and (max-width: 1300px) {
        .header .menu__sub-list {
          font-size: 13px; } }
      @media screen and (max-width: 1050px) {
        .header .menu__sub-list {
          padding: 0 5px;
          font-size: 16px; } }
    .header .menu__arrow {
      display: none; }
    .header .menu__wrap-btn {
      width: 20%;
      align-items: center;
      justify-content: flex-end; }
      @media screen and (max-width: 1500px) {
        .header .menu__wrap-btn {
          width: 21%; } }
      @media screen and (max-width: 1050px) {
        .header .menu__wrap-btn {
          margin: 0 auto 30px;
          width: 100%;
          justify-content: center; } }
      @media screen and (max-width: 500px) {
        .header .menu__wrap-btn {
          flex-direction: column;
          align-items: baseline; } }
  .header .menu-mobile__open {
    display: none;
    border: none;
    background: none; }
    @media screen and (max-width: 1050px) {
      .header .menu-mobile__open {
        z-index: 5;
        display: block;
        position: absolute;
        width: 30px;
        height: 18px;
        cursor: pointer;
        right: 20px;
        top: 75px;
        top: 50%;
        transform: translate(0px, -50%);
        -webkit-transform: translate(0px, -50%);
        -moz-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
        -o-transform: translate(0px, -50%); }
        .header .menu-mobile__open::after, .header .menu-mobile__open::before, .header .menu-mobile__open span {
          left: 0;
          position: absolute;
          height: 2px;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: #fff;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s; }
        .header .menu-mobile__open::after, .header .menu-mobile__open::before {
          content: ""; }
        .header .menu-mobile__open span {
          top: 50%;
          transform: translate(0px, 0px);
          -webkit-transform: translate(0px, 0px);
          -moz-transform: translate(0px, 0px);
          -ms-transform: translate(0px, 0px);
          -o-transform: translate(0px, 0px); }
        .header .menu-mobile__open::after {
          top: 2px; }
        .header .menu-mobile__open::before {
          bottom: 0; } }
  .header .menu-mobile__close {
    display: none;
    border: none;
    background: none; }
    @media screen and (max-width: 1050px) {
      .header .menu-mobile__close {
        z-index: 5;
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
        right: 20px;
        top: 75px;
        top: 20px;
        z-index: 6; }
        .header .menu-mobile__close::after, .header .menu-mobile__close span {
          left: 0;
          position: absolute;
          height: 2px;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: #fff;
          border-radius: 5px;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s; }
        .header .menu-mobile__close::after {
          content: ""; }
        .header .menu-mobile__close span {
          top: 50%;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg); }
        .header .menu-mobile__close::after {
          top: 50%;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg); } }
  .header .menu-mobile__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: left 0.3s ease 0s;
    padding: 30px;
    display: none;
    -webkit-transition: left 0.3s ease 0s;
    -moz-transition: left 0.3s ease 0s;
    -ms-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s; }
    .header .menu-mobile__bg_active {
      display: block; }
  .header #open-account {
    background: #72EDF2;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding: 9px 13px;
    border: none; }
    @media screen and (max-width: 1500px) {
      .header #open-account {
        padding: 9px 10px; } }
    @media screen and (max-width: 1300px) {
      .header #open-account {
        padding: 9px 3px;
        font-size: 13px; } }
    .header #open-account:hover {
      opacity: 0.7; }

body.dc .menu__list:hover .menu__sub {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px); }

body.dc .menu__list:hover > a {
  color: #72EDF2; }

body.dc .menu__sub-list:hover:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px 4px rgba(0, 0, 0, 0.25); }

body.touch .menu__arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform 0.3s ease 0s;
  margin-left: 5px;
  margin-bottom: 3px;
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
  -ms-transition: transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s; }

body.touch .menu__list {
  display: flex;
  align-items: center; }

body.touch .menu_active {
  display: flex; }

body.touch .menu__list.active .menu__sub {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
  bottom: 0;
  left: 25px;
  background: none;
  position: relative;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px); }

body.touch .menu__list.active .menu__arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg); }

.footer {
  background: #024C76;
  padding: 38px 0 27px;
  line-height: 37px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  flex-direction: row;
  display: flex; }
  .footer a {
    color: #FFFFFF; }
  .footer > :nth-child(1) {
    justify-content: space-between; }
    @media screen and (max-width: 1160px) {
      .footer > :nth-child(1) {
        align-items: center;
        flex-direction: column-reverse; } }
  .footer__text {
    width: 45%;
    justify-content: space-between;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 1400px) {
      .footer__text {
        width: 55%; } }
    @media screen and (max-width: 1160px) {
      .footer__text {
        margin-top: 30px;
        width: 100%;
        text-align: center; } }
    .footer__text > :nth-child(1) {
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      line-height: 22px; }
      @media screen and (max-width: 850px) {
        .footer__text > :nth-child(1) {
          font-size: 11px;
          font-weight: 500;
          font-style: normal; } }
    .footer__text > :nth-child(2) {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 500;
      font-style: normal; }
      @media screen and (max-width: 850px) {
        .footer__text > :nth-child(2) {
          font-size: 10px;
          font-weight: 500;
          font-style: normal; } }
      @media screen and (max-width: 500px) {
        .footer__text > :nth-child(2) {
          flex-direction: column; } }
  .footer__link-wrap {
    width: 420px; }
    @media screen and (max-width: 420px) {
      .footer__link-wrap {
        width: 310px; } }
  .footer__menu-wrap {
    display: flex; }
    @media screen and (max-width: 850px) {
      .footer__menu-wrap {
        justify-content: center; } }
    .footer__menu-wrap > :nth-child(1) {
      width: 40%;
      font-size: 18px;
      font-weight: 600;
      font-style: normal; }
      @media screen and (max-width: 450px) {
        .footer__menu-wrap > :nth-child(1) {
          width: 44%;
          font-size: 14px; } }
  .footer__follow-icon, .footer__menu-link {
    width: 200px; }
    @media screen and (max-width: 650px) {
      .footer__follow-icon, .footer__menu-link {
        width: 156px; } }
    @media screen and (max-width: 400px) {
      .footer__follow-icon, .footer__menu-link {
        width: 50%; } }
    @media screen and (max-width: 420px) {
      .footer__follow-icon, .footer__menu-link {
        width: 146px; } }
  .footer__follow-icon {
    display: flex; }
    .footer__follow-icon a {
      margin-right: 50px; }
      @media screen and (max-width: 800px) {
        .footer__follow-icon a {
          margin-right: 28px; } }
      .footer__follow-icon a svg path:hover {
        fill: #fff; }
      .footer__follow-icon a svg rect:hover {
        fill: #fff; }
  @media screen and (max-width: 500px) {
    .footer__fb {
      width: 18px; } }
  @media screen and (max-width: 500px) {
    .footer__tw {
      width: 28px; } }
  @media screen and (max-width: 500px) {
    .footer__ln {
      width: 35px; } }
  .footer__menu-link {
    font-size: 16px;
    font-weight: 600;
    font-style: normal; }
    @media screen and (max-width: 850px) {
      .footer__menu-link {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        justify-content: space-around !important; } }
    @media screen and (max-width: 450px) {
      .footer__menu-link {
        text-align: center; } }
    .footer__menu-link a {
      display: block;
      margin-left: 5px; }

.btn-find-more {
  background: #33C1EF;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding: 14px 66px;
  border: none;
  transition: 0.5s all; }
  @media screen and (max-width: 420px) {
    .btn-find-more {
      padding: 10px 40px; } }
  .btn-find-more:hover {
    background: #269ABF; }
  .btn-find-more:focus {
    background: green; }

.btn-open-dashboard {
  background: #005672;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding: 14px 64px;
  border: none;
  transition: 0.5s all;
  width: 300px;
  box-sizing: border-box; }
  @media screen and (max-width: 420px) {
    .btn-open-dashboard {
      padding: 10px 40px;
      width: 260px; } }
  .btn-open-dashboard:hover {
    background: #00779E; }

.btn-how-work {
  background: #88DDA0;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding: 14px 64px;
  border: none;
  transition: 0.5s all;
  width: 300px;
  box-sizing: border-box; }
  @media screen and (max-width: 420px) {
    .btn-how-work {
      padding: 10px 0px;
      width: 260px; } }
  .btn-how-work:focus {
    background: #004E72;
    opacity: 0.8; }
  .btn-how-work:hover {
    background: #4FC28C; }

.triangle {
  position: relative;
  height: 10px;
  width: 10px; }
  .triangle:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent; }
  .triangle:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 8px;
    left: 99px;
    border-radius: 100%;
    background: #007bff; }

.table_btn {
  background: #D8EEFA;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px 13px; }

.table_btn {
  background: #D8EEFA;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px 13px; }

.table_data-btn {
  background: #9DFF94;
  border: 0.2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding-right: 14px;
  margin-right: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #60626A; }

.table-row-btn {
  background: #0878B7;
  border: 0.2px solid #005DFF;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF; }

.sidebar_btn {
  background: #B6DAED;
  border: 1px solid #6C7077;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 17px 28px; }

.home__video {
  pointer-events: none; }
.home__planeta {
  background-image: url("../img/home-planeta.png");
  background-size: cover;
  min-height: 800px;
  padding: 40px 0; }
  @media screen and (max-width: 1700px) {
    .home__planeta {
      background-position: 87%; } }
  @media screen and (max-width: 1360px) {
    .home__planeta {
      background-position: center; } }
  @media screen and (max-width: 768px) {
    .home__planeta {
      background-position: 70%; } }
  @media screen and (max-width: 420px) {
    .home__planeta {
      min-height: 500px; } }
.home__description {
  background: #CBD7EC;
  padding: 43px 0; }
  @media screen and (max-width: 400px) {
    .home__description {
      padding: 20px 10px; } }
  .home__description h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 0.01em;
    color: #38389F;
    text-align: center; }
    @media screen and (max-width: 760px) {
      .home__description h3 {
        font-size: 24px; } }
    @media screen and (max-width: 460px) {
      .home__description h3 {
        font-size: 20px; } }
    @media screen and (max-width: 330px) {
      .home__description h3 {
        font-size: 15px;
        line-height: 20px; } }
.home__line-bg {
  height: 50px;
  padding: 0; }
  @media screen and (max-width: 400px) {
    .home__line-bg {
      height: 40px; } }
.home .planeta__content {
  max-width: 60%; }
  @media screen and (max-width: 1460px) {
    .home .planeta__content {
      max-width: 50%; } }
  @media screen and (max-width: 1360px) {
    .home .planeta__content {
      max-width: 70%;
      margin: auto; } }
  @media screen and (max-width: 768px) {
    .home .planeta__content {
      max-width: 100%; } }
  .home .planeta__content h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding-bottom: 20px; }
    @media screen and (max-width: 420px) {
      .home .planeta__content h2 {
        font-size: 24px;
        line-height: 18px; } }
  .home .planeta__content p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 37px; }
    @media screen and (max-width: 420px) {
      .home .planeta__content p {
        font-size: 12px;
        line-height: 18px; } }

.gradient {
  background-image: url("../img/home-gradient.png");
  height: 355px;
  background-position: center; }
  @media screen and (max-width: 500px) {
    .gradient {
      height: 190px; } }
  .gradient__circle {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: #476BAB;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #85FAFF;
    margin: auto;
    position: relative; }
    @media screen and (max-width: 767px) {
      .gradient__circle {
        width: 90px;
        height: 90px;
        font-size: 26px;
        font-weight: 600;
        font-style: normal; } }
    @media screen and (max-width: 375px) {
      .gradient__circle {
        width: 70px;
        height: 70px;
        font-size: 22px;
        font-weight: 600;
        font-style: normal; } }
    .gradient__circle::after, .gradient__circle::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 195px;
      background: #4D7EDE;
      transform: rotate(152deg); }
      @media screen and (max-width: 650px) {
        .gradient__circle::after, .gradient__circle::before {
          width: 140px; } }
      @media screen and (max-width: 500px) {
        .gradient__circle::after, .gradient__circle::before {
          width: 80px; } }
      @media screen and (max-width: 375px) {
        .gradient__circle::after, .gradient__circle::before {
          width: 55px; } }
    .gradient__circle::after {
      left: -180px;
      bottom: -12px; }
      @media screen and (max-width: 650px) {
        .gradient__circle::after {
          left: -127px;
          bottom: -12px; } }
      @media screen and (max-width: 500px) {
        .gradient__circle::after {
          left: -68px;
          bottom: -1px; } }
      @media screen and (max-width: 375px) {
        .gradient__circle::after {
          left: -48px;
          bottom: 6px; } }
    .gradient__circle::before {
      right: -178px;
      top: -17px; }
      @media screen and (max-width: 650px) {
        .gradient__circle::before {
          right: -129px;
          top: -8px; } }
      @media screen and (max-width: 500px) {
        .gradient__circle::before {
          right: -68px;
          top: -1px; } }
      @media screen and (max-width: 375px) {
        .gradient__circle::before {
          right: -48px;
          top: 5px; } }
    .gradient__circle span {
      font-size: 40px;
      font-weight: bold;
      font-style: italic;
      color: #FFFFFF;
      position: absolute; }
      @media screen and (max-width: 767px) {
        .gradient__circle span {
          font-size: 20px;
          font-weight: 600;
          font-style: normal; } }
      @media screen and (max-width: 375px) {
        .gradient__circle span {
          font-size: 16px;
          font-weight: 600;
          font-style: normal; } }
    .gradient__circle > :nth-child(1) {
      left: -317px;
      bottom: -94px; }
      @media screen and (max-width: 767px) {
        .gradient__circle > :nth-child(1) {
          left: -236px;
          bottom: -79px; } }
      @media screen and (max-width: 650px) {
        .gradient__circle > :nth-child(1) {
          left: -189px;
          bottom: -69px; } }
      @media screen and (max-width: 500px) {
        .gradient__circle > :nth-child(1) {
          left: -130px;
          bottom: -43px; } }
      @media screen and (max-width: 375px) {
        .gradient__circle > :nth-child(1) {
          left: -98px;
          bottom: -29px; } }
    .gradient__circle > :nth-child(2) {
      right: -310px;
      top: -105px; }
      @media screen and (max-width: 767px) {
        .gradient__circle > :nth-child(2) {
          right: -231px;
          top: -89px; } }
      @media screen and (max-width: 650px) {
        .gradient__circle > :nth-child(2) {
          right: -185px;
          top: -72px; } }
      @media screen and (max-width: 500px) {
        .gradient__circle > :nth-child(2) {
          right: -127px;
          top: -50px; } }
      @media screen and (max-width: 375px) {
        .gradient__circle > :nth-child(2) {
          right: -96px;
          top: -32px; } }

.service {
  background: #F1FAFF;
  padding-bottom: 104px; }
  @media screen and (max-width: 420px) {
    .service {
      padding-bottom: 20px; } }
  .service__title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.01em;
    color: #0544BB;
    position: relative;
    text-align: center;
    padding: 95px 0; }
    @media screen and (max-width: 760px) {
      .service__title {
        font-size: 32px;
        padding: 45px 0; } }
    @media screen and (max-width: 500px) {
      .service__title {
        font-size: 24px;
        padding: 35px 0; } }
    .service__title::after, .service__title::before {
      content: "";
      position: absolute;
      width: 35%;
      height: 1px;
      background: #000000;
      top: 50%; }
      @media screen and (max-width: 1420px) {
        .service__title::after, .service__title::before {
          width: 33%; } }
      @media screen and (max-width: 1100px) {
        .service__title::after, .service__title::before {
          width: 26%; } }
      @media screen and (max-width: 724px) {
        .service__title::after, .service__title::before {
          width: 25%; } }
      @media screen and (max-width: 520px) {
        .service__title::after, .service__title::before {
          width: 14%; } }
      @media screen and (max-width: 319px) {
        .service__title::after, .service__title::before {
          width: 12%; } }
    .service__title::after {
      right: 0; }
    .service__title::before {
      left: 0; }

.service-block {
  margin-bottom: 40px; }
  .service-block__img img {
    width: 100%; }
  .service-block__description {
    padding: 16px 55px 26px 86px;
    min-height: 300px;
    background: #FFFFFF; }
    @media screen and (max-width: 420px) {
      .service-block__description {
        padding: 16px 15px 16px 15px;
        min-height: 200px; } }
    .service-block__description :nth-child(1) {
      font-size: 25px;
      font-weight: 500;
      font-style: normal;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: #0544BB;
      text-align: center;
      margin-bottom: 26px; }
      @media screen and (max-width: 420px) {
        .service-block__description :nth-child(1) {
          font-size: 20px;
          margin-bottom: 10px; } }
    .service-block__description :nth-child(2) {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: #56595F;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      @media screen and (max-width: 420px) {
        .service-block__description :nth-child(2) {
          font-size: 12px; } }
  .service-block__btn-wrap {
    background: #005672;
    padding: 25px 0;
    text-align: center; }
    @media screen and (max-width: 420px) {
      .service-block__btn-wrap {
        padding: 20px 0; } }

.categories__text {
  padding: 49px 0;
  background: #E2E9F8; }
  @media screen and (max-width: 500px) {
    .categories__text {
      padding: 20px 0; } }
  .categories__text p {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #65676C; }
.categories__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 1700px) {
    .categories__wrap {
      align-items: center; } }
  @media screen and (max-width: 1360px) {
    .categories__wrap {
      flex-direction: column; } }
  .categories__wrap > :nth-child(1) {
    width: 40%; }
    @media screen and (min-width: 1501px) and (max-width: 1700px) {
      .categories__wrap > :nth-child(1) {
        width: 42%;
        margin-bottom: 40px; } }
    @media screen and (max-width: 700px) {
      .categories__wrap > :nth-child(1) {
        width: 70%; } }
    @media screen and (max-width: 400px) {
      .categories__wrap > :nth-child(1) {
        width: 100%; } }
    .categories__wrap > :nth-child(1) img {
      width: 100%; }
  .categories__wrap > :nth-child(2) {
    width: 55%; }
    @media screen and (min-width: 900px) and (max-width: 1700px) {
      .categories__wrap > :nth-child(2) {
        min-width: 740px; } }
    @media screen and (max-width: 1360px) {
      .categories__wrap > :nth-child(2) {
        margin-top: 30px; } }
    @media screen and (max-width: 900px) {
      .categories__wrap > :nth-child(2) {
        width: 100%; } }
    .categories__wrap > :nth-child(2) > div {
      justify-content: space-between; }
      @media screen and (max-width: 900px) {
        .categories__wrap > :nth-child(2) > div {
          justify-content: center; } }
.categories__description {
  background: #F1FAFF;
  padding-bottom: 77px;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 500px) {
    .categories__description {
      padding-bottom: 30px; } }
.categories__wrap-btn {
  justify-content: space-between;
  margin-top: 115px; }
  @media screen and (max-width: 1699px) {
    .categories__wrap-btn {
      justify-content: space-around; } }
  @media screen and (max-width: 700px) {
    .categories__wrap-btn {
      flex-direction: column;
      margin-top: 20px !important; } }
  .categories__wrap-btn .btn-how-work, .categories__wrap-btn .btn-open-dashboard {
    margin: auto;
    display: block; }
    @media screen and (max-width: 700px) {
      .categories__wrap-btn .btn-how-work, .categories__wrap-btn .btn-open-dashboard {
        margin-bottom: 20px; } }
  .categories__wrap-btn > :nth-child(1) {
    width: 40%; }
    @media screen and (max-width: 1699px) {
      .categories__wrap-btn > :nth-child(1) {
        width: auto; } }
  .categories__wrap-btn > :nth-child(2) {
    width: 55%; }
    @media screen and (max-width: 1699px) {
      .categories__wrap-btn > :nth-child(2) {
        width: auto; } }
.categories__wrap-description {
  flex-wrap: wrap;
  justify-content: space-between; }
.categories__block-description {
  background: #CEEEFF;
  border: 0.558842px solid #6C7077;
  box-sizing: border-box;
  box-shadow: 0px 2.79421px 2.23537px 2.79421px rgba(0, 0, 0, 0.25);
  border-radius: 27.9421px;
  padding: 49px 15px 38px;
  width: 46%;
  height: 172px;
  justify-content: flex-end;
  position: relative; }
  @media screen and (max-width: 1700px) {
    .categories__block-description {
      margin-bottom: 80px; } }
  @media screen and (min-width: 900px) and (max-width: 1700px) {
    .categories__block-description {
      padding: 15px 15px 20px; } }
  @media screen and (max-width: 900px) {
    .categories__block-description {
      width: 59%; } }
  @media screen and (max-width: 680px) {
    .categories__block-description {
      width: 64%; } }
  @media screen and (max-width: 620px) {
    .categories__block-description {
      width: 79%; } }
  @media screen and (max-width: 510px) {
    .categories__block-description {
      width: 94%; } }
  @media screen and (max-width: 440px) {
    .categories__block-description {
      width: 100%;
      padding: 30px 15px 30px; } }
  @media screen and (max-width: 420px) {
    .categories__block-description {
      margin-bottom: 15px; } }
  .categories__block-description p {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.01em;
    width: 55%; }
    @media screen and (min-width: 900px) and (max-width: 1700px) {
      .categories__block-description p {
        width: 62%; } }
    @media screen and (max-width: 660px) {
      .categories__block-description p {
        width: 52%;
        font-size: 11px; } }
    @media screen and (max-width: 420px) {
      .categories__block-description p {
        width: 100%;
        font-size: 13px; } }

.pos-item {
  position: absolute;
  background: #2DA4E3;
  top: -2px;
  left: 50px;
  width: 30%;
  height: 102%; }
  @media screen and (min-width: 900px) and (max-width: 1700px) {
    .pos-item {
      left: 22px; } }
  @media screen and (max-width: 680px) {
    .pos-item {
      left: 40px; } }
  @media screen and (max-width: 420px) {
    .pos-item {
      display: none !important; } }
  .pos-item_red {
    background: #E02648; }
    .pos-item_red:after {
      border-top: 46px solid #E02648; }
  .pos-item_green {
    background: #38CB20; }
    .pos-item_green:after {
      border-top: 46px solid #38CB20; }
  .pos-item_yellow {
    background: #E4E825; }
    .pos-item_yellow:after {
      border-top: 46px solid #E4E825; }
  .pos-item__top {
    position: absolute;
    content: "";
    top: -18px;
    left: 0;
    width: 125%;
    border-top-left-radius: 40px;
    height: 20px;
    z-index: -4;
    background: linear-gradient(0.41deg, #2DA4E3 21.92%, rgba(45, 164, 227, 0) 101.83%); }
    .pos-item__top_red {
      background: linear-gradient(0.41deg, #E02648 21.92%, rgba(224, 38, 72, 0) 101.83%); }
    .pos-item__top_green {
      background: linear-gradient(0.41deg, #38CB20 21.92%, rgba(56, 203, 32, 0) 101.83%); }
    .pos-item__top_yellow {
      background: linear-gradient(0.41deg, #E4E825 21.92%, rgba(228, 232, 37, 0) 101.83%); }
  .pos-item .circle {
    position: absolute;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #2DA4E3;
    top: -2px;
    right: -21px;
    z-index: -1; }
    .pos-item .circle_red {
      background: #E02648; }
    .pos-item .circle_green {
      background: #38CB20; }
    .pos-item .circle_yellow {
      background: #E4E825; }
  .pos-item .triangle-bottom {
    position: absolute;
    bottom: -45px;
    left: 0px;
    width: 100%; }
    @media screen and (min-width: 900px) and (max-width: 1700px) {
      .pos-item .triangle-bottom {
        bottom: -38px; } }
    .pos-item .triangle-bottom img {
      width: 100%; }
  .pos-item__img {
    margin: auto; }
    @media screen and (min-width: 900px) and (max-width: 1700px) {
      .pos-item__img {
        width: 80%; } }
    @media screen and (min-width: 900px) and (max-width: 1700px) {
      .pos-item__img img {
        width: 100%; } }

.cargo-market .categories__wrap {
  margin: auto; }
  @media screen and (max-width: 1500px) {
    .cargo-market .categories__wrap {
      max-width: 1200px; } }
  @media screen and (max-width: 1200px) {
    .cargo-market .categories__wrap {
      max-width: 768px; } }
  @media screen and (max-width: 767px) {
    .cargo-market .categories__wrap {
      max-width: 500px; } }
  @media screen and (max-width: 550px) {
    .cargo-market .categories__wrap {
      max-width: 400px; } }
  @media screen and (max-width: 320px) {
    .cargo-market .categories__wrap {
      max-width: 300px; } }
  .cargo-market .categories__wrap > :nth-child(1) {
    width: 60%; }
    @media screen and (max-width: 1700px) {
      .cargo-market .categories__wrap > :nth-child(1) {
        width: 100%; } }
    @media screen and (max-width: 1300px) {
      .cargo-market .categories__wrap > :nth-child(1) {
        margin-bottom: 30px; } }
    @media screen and (max-width: 767px) {
      .cargo-market .categories__wrap > :nth-child(1) {
        width: 90%; } }
    @media screen and (max-width: 320px) {
      .cargo-market .categories__wrap > :nth-child(1) {
        width: 100%; } }
  .cargo-market .categories__wrap > :nth-child(2) {
    width: 40%; }
    @media screen and (max-width: 1699px) {
      .cargo-market .categories__wrap > :nth-child(2) {
        width: 65%;
        text-align: center;
        min-width: auto; } }
    @media screen and (max-width: 1200px) {
      .cargo-market .categories__wrap > :nth-child(2) {
        width: 80%; } }
    @media screen and (max-width: 767px) {
      .cargo-market .categories__wrap > :nth-child(2) {
        width: 100%; } }
    .cargo-market .categories__wrap > :nth-child(2) img {
      width: 100%; }
      @media screen and (max-width: 800px) {
        .cargo-market .categories__wrap > :nth-child(2) img {
          width: 100%; } }
.cargo-market__block-wrap {
  flex-wrap: wrap;
  justify-content: center; }
@media screen and (max-width: 1500px) {
  .cargo-market .categories__wrap-btn {
    max-width: 1200px;
    margin: 115px auto 0; } }
.cargo-market .categories__wrap-btn .btn-how-work, .cargo-market .categories__wrap-btn .btn-open-dashboard {
  margin: auto;
  display: block; }
  @media screen and (max-width: 700px) {
    .cargo-market .categories__wrap-btn .btn-how-work, .cargo-market .categories__wrap-btn .btn-open-dashboard {
      margin-bottom: 20px; } }
.cargo-market .categories__wrap-btn > :nth-child(1) {
  width: 60%; }
  @media screen and (max-width: 1300px) {
    .cargo-market .categories__wrap-btn > :nth-child(1) {
      width: auto; } }
.cargo-market .categories__wrap-btn > :nth-child(2) {
  width: 40%; }
  @media screen and (max-width: 1300px) {
    .cargo-market .categories__wrap-btn > :nth-child(2) {
      width: auto; } }

.cargo-block-item {
  position: relative;
  width: 33%; }
  @media screen and (max-width: 1300px) {
    .cargo-block-item {
      width: 29%; } }
  @media screen and (max-width: 767px) {
    .cargo-block-item {
      width: 45%; } }
  @media screen and (max-width: 550px) {
    .cargo-block-item {
      width: 100%; } }
  .cargo-block-item p {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.01em;
    width: 70%;
    top: 140px;
    left: 65px; }
    @media screen and (max-width: 1650px) {
      .cargo-block-item p {
        top: 118px;
        left: 56px; } }
    @media screen and (max-width: 1500px) {
      .cargo-block-item p {
        top: 89px;
        left: 50px;
        width: 67%; } }
    @media screen and (max-width: 1360px) {
      .cargo-block-item p {
        top: 139px;
        left: 56px;
        width: 70%; } }
    @media screen and (max-width: 1340px) {
      .cargo-block-item p {
        top: 136px; } }
    @media screen and (max-width: 1300px) {
      .cargo-block-item p {
        top: 124px; } }
    @media screen and (max-width: 1200px) {
      .cargo-block-item p {
        top: 75px;
        left: 42px;
        width: 58%; } }
    @media screen and (max-width: 800px) {
      .cargo-block-item p {
        top: 63px; } }
    @media screen and (max-width: 767px) {
      .cargo-block-item p {
        top: 63px;
        width: 58%; } }
    @media screen and (max-width: 550px) {
      .cargo-block-item p {
        top: 122px;
        left: 63px;
        width: 65%;
        font-size: 16px; } }
    @media screen and (max-width: 450px) {
      .cargo-block-item p {
        top: 122px;
        font-size: 12px; } }
    @media screen and (max-width: 380px) {
      .cargo-block-item p {
        top: 106px; } }
    @media screen and (max-width: 360px) {
      .cargo-block-item p {
        left: 56px; } }
    @media screen and (max-width: 340px) {
      .cargo-block-item p {
        top: 94px; } }

.companies .categories__wrap {
  justify-content: center;
  max-width: 1100px;
  margin: auto; }
  .companies .categories__wrap > div {
    width: 60%; }
    @media screen and (max-width: 1370px) {
      .companies .categories__wrap > div {
        width: 80%; } }
.companies .categories__wrap-btn {
  width: 60%;
  margin: 115px auto 0; }
  @media screen and (max-width: 1370px) {
    .companies .categories__wrap-btn {
      width: 80%; } }
  @media screen and (max-width: 900px) {
    .companies .categories__wrap-btn {
      width: 100%; } }
  .companies .categories__wrap-btn > :nth-child(1) {
    width: auto; }
  .companies .categories__wrap-btn > :nth-child(2) {
    width: auto; }

.header_table {
  background: #024C76;
  display: flex;
  justify-content: space-between;
  padding: 0 27px 0 25px; }
  .header_table-btns {
    text-align: center;
    width: 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 29px; }
  .header_table-logo {
    margin-bottom: 15px;
    width: 100%; }
  .header_table .table_btn:last-child {
    margin-left: 15px; }
  .header_table-block {
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .header_table .times_block {
    width: 93%;
    display: flex;
    justify-content: space-around;
    background: #0878B7;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    padding: 14px 15px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px; }
    .header_table .times_block-locate {
      margin-bottom: 5px; }
  .header_table-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
    width: calc(100% - 303px);
    margin-top: 20px; }
  .header_table .user_info {
    display: flex;
    margin-right: 10px; }
    .header_table .user_info-name {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: #FFFFFF; }
    .header_table .user_info-avatar {
      margin-right: 10px; }
  .header_table .header_info {
    align-items: baseline;
    display: flex;
    position: relative;
    margin: 30px 0 20px; }
  .header_table .header_chat {
    position: absolute;
    right: 0;
    bottom: -35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF; }
    .header_table .header_chat span:last-child {
      position: absolute;
      right: 13px;
      top: 3px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000; }
  .header_table .icon_home {
    margin-right: 27px; }
    .header_table .icon_home img {
      margin-top: -1px; }
  .header_table .header_info-mail {
    margin-right: 25px;
    position: relative; }
    .header_table .header_info-mail span {
      display: inline-block;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      background: #0ED33A;
      position: absolute;
      top: -15px;
      right: -10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      color: #000000; }

.table {
  display: flex; }
  .table_filter {
    width: 320px;
    background: #D8EEFA;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    position: absolute;
    height: fit-content;
    left: -267px;
    z-index: 1;
    padding: 37px 53px 37px 32px;
    transition: all 2s; }
    .table_filter img {
      position: absolute;
      top: 35%;
      right: 0;
      transform: translate(-50%, 0%) rotate(0deg);
      transition: all 2s; }
    .table_filter.active {
      left: 0; }
    .table_filter-content > * {
      margin-bottom: 50px; }
    .table_filter .sidebar_btn {
      display: flex;
      margin-left: auto;
      margin-right: auto; }
  .table_content {
    width: calc(100% - 53px);
    margin-left: 53px;
    background: #D8EEFA; }
    .table_content-header {
      background: #87F47D;
      display: flex;
      align-items: center;
      padding: 5px;
      position: relative; }
      .table_content-header h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #60626A;
        flex: 2;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0); }
      .table_content-header.header-orders {
        background: #F0EDB0; }
        .table_content-header.header-orders span {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #60626A; }
  .table_data-header {
    background: #B6DAED;
    border-bottom: 2px solid #000000; }
    .table_data-header ul {
      display: grid;
      grid-template-columns: 30px 140px 1fr 1fr 1fr 1fr 1fr 1fr 66px 64px 113px 129px; }
      .table_data-header ul li {
        border-right: 1px solid #979797;
        padding: 5px 0 5px;
        text-align: center;
        position: relative; }
        .table_data-header ul li img {
          position: absolute;
          right: 5px; }
  .table_data-item {
    display: grid;
    grid-template-columns: 30px 140px 1fr 1fr 1fr 1fr 1fr 1fr 66px 64px 113px 129px; }
    .table_data-item div {
      text-align: center;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-right: 1px solid #979797;
      padding: 7px 0;
      line-height: 20px;
      min-height: 35px; }
      .table_data-item div:last-child {
        display: flex; }
        .table_data-item div:last-child span {
          color: #28E10A;
          width: 65%; }

.select {
  width: 100%;
  height: 30px;
  margin: 0 auto; }
  .select-block > label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 7px; }
  .select[data-state="active"] .select__content {
    opacity: 1;
    display: flex; }
  .select[data-state="active"] .select__label + .select__input + .select__label {
    max-height: 40px;
    border-top-width: 1px; }
  .select[data-state="active"] .select__title {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: unset; }

.select__title {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-height: 30px;
  position: relative;
  cursor: pointer; }
  .select__title::after {
    content: url(../img/arrow_select.svg);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 7px;
    display: block; }

.select__content {
  position: absolute;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.025);
  border-top: none;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
  margin-top: -1px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%; }

.select__input {
  display: none; }
  .select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none; }

.select__label {
  width: 100%;
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 16px 8px 8px;
  top: 84px;
  left: 0px; }
  .select__label + input + .select__label {
    border-top: 0 solid #C7CCD160; }

.input-block label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 7px; }
.input-block-ui {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 30px; }
.input-block.input-double {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .input-block.input-double label {
    width: 100%; }
  .input-block.input-double input {
    width: 40%; }

/*# sourceMappingURL=style.css.map */
