html {
    overflow: auto;
}
.table {
    display: flex;
    width: 100%;
    @media all and (min-width: 1920px) {
        min-width: 1920px;
        margin-bottom: 0;
    }
    @media all and (max-width: 1366px) {
        width: 1366px;
    }
    &_filter {
        width: 320px;
        background: #D8EEFA;
        border: 0.5px solid #000000;
        box-sizing: border-box;
        position: absolute;
        height: fit-content;
        left: -290px;
        z-index: 1;
        padding: 37px 53px 37px 32px;
        transition: all 1s;
        height: calc(100% - 154px);
        overflow: hidden;
        
        @media all and (max-width: 1700px) {
            width: 234px;
            padding: 11px 44px 37px 22px;
            left: -240px;
            height: calc(100% - 152px);
            left: -202px;
        }
        img {
            position: absolute;
            top: 35%;
            right: 0;
            transform: translate(-50%, 0%) rotate(0deg);
            transition: all 2s;
            width: 15px;
            cursor: pointer;
        }
        &.active {
            left: 0;
            overflow-y: auto;
        }
        .simplebar-content{
            height: 100%;
        }
        &-content {
            .select{
                @media all and (max-width: 1700px) {
                    height: auto;
                }
            }
            .inputs_block>* {
                margin-bottom: 40px;
                @media all and (max-width: 1700px) {
                    margin-bottom: 32px;
                }
            }
        }
        .input-block label{
            @media all and (max-width: 1700px) {
                margin-bottom: 0px;
            }
        }
        .select-block > label{
            @media all and (max-width: 1700px) {
                line-height: 0px;
            }
        }
        .select__title{
            @media all and (max-width: 1700px) {
                line-height: 19px;
            }
        }
        .sidebar_btn {
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &_content {
        width: calc(100% - 30px);
        margin-left: 30px;
        background: #D8EEFA;
        &.world-fleet {
            background: #fff;
            &>.table_content-data {
                background: #D8EEFA;
                margin-left: 5px;
            }
        }
        &-header {
            background: #87F47D;
            display: flex;
            align-items: center;
            padding: 5px;
            position: relative;
            h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #60626A;
                flex: 2;
                text-align: center;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                @media all and (max-width: 1700px) {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            &.header-orders {
                background: #F0EDB0;
                span {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #60626A;
                    @media all and (max-width: 1700px) {
                        font-size: 12px;
                    }
                }
            }
            &.header-vesseis {
                background: #BFEBFF;
                height: 30px;
                line-height: 30px;
                justify-content: center;
                @media all and (max-width: 1700px) {
                    height: 21px;
                    line-height: 21px;
                }
                img{
                    cursor: pointer;
                    @media all and (max-width: 1700px) {
                        width: 16px;
                    }
                }
            }
            .header-vesseis__title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #60626A;
                margin: 0 33px;
                @media all and (max-width: 1700px) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
        &-fixed {
            position: fixed;
            width: calc(100% - 30px);
            background: #D8EEFA;
            @media all and (max-width: 1366px) {
                width: calc(1366px - 30px);
                position: relative;
            }
            .table_data-content {
                height: 161px;
                @media all and (max-height: 500px) {
                    height: 56px;
                }
            }
        }
    }
    &_data {
        &-header {
            background: #B6DAED;
            border-bottom: 2px solid #000000;
            ul {
                display: grid;
                grid-template-columns: 30px 126px 105px 270px 270px 270px 270px 132px 1fr 1fr 113px 129px;
                @media all and (max-width: 1900px) {
                    grid-template-columns: 1.6% 6.9% 5.55% 14.45% 14.45% 14.45% 14.45% 7% 4.2% 4.15% 6% 6.8%;
                }
                li {
                    font-family: 'Montserrat';
                    border-right: 1px solid #979797;
                    padding: 5px 0 5px;
                    font-weight: 600;
                    text-align: center;
                    position: relative;
                    font-size: 18px;
                    @media all and (max-width: 1850px) {
                        font-size: 16px;
                    }
                    @media all and (max-width: 1700px) {
                        font-size: 12px;
                    }
                    img {
                        position: absolute;
                        right: 5px;
                        @media all and (max-width: 1850px) {
                            width: 14px;
                        }
                        @media all and (max-width: 1700px) {
                            width: 11px;
                        }
                    }
                }
            }
        }
        &-item {
            display: grid;
            grid-template-columns: 30px 126px 105px 270px 270px 270px 270px 132px 1fr 1fr 113px 129px;
            @media all and (max-width: 1900px) {
                grid-template-columns: 1.6% 6.9% 5.55% 14.45% 14.45% 14.45% 14.45% 7% 4.2% 4.15% 6% 6.8%;
            }
            &>div {
                text-align: center;
                border-right: 1px solid #979797;
                padding: 5px 0;
                line-height: 25px;
                min-height: 35px;
                font-weight: 500;
                font-size: 16px;
                position: relative;
                @media all and (max-width: 1700px) {
                    font-size: 12px;
                    line-height: 16px;
                    min-height: 25px;
                    box-sizing: border-box;
                    padding: 4px 0;
                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &:last-child {
                    display: flex;
                    align-items: center;
                    span {
                        color: #28E10A;
                        width: 65%;
                        &.default {
                            color: #000000;
                        }
                    }
                }
            }
            input {
                display: none;
            }
             :nth-child(1) {
                cursor: pointer;
                   &>img{
                    @media all and (max-width: 1700px) {
                        width: 13px;
                    }
                }
            }
            &:last-child {
                & > div:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
        &-content {
            height: calc(100vh - 228px - 190px);
            @media all and (max-height: 500px) {
                height: calc(100vh - 228px - 93px);
            }
        }
    }
    &_fixed {
        height: 100vh;
        overflow: auto;
        width: 100vw;
    }
    &_fixed-wrap{
        height: 100vh;
        width: 100vw;
        @media all and (max-width: 1366px) {
            width: 1366px;
        }
    }
    &__content {
        &_header {
            &-sell {
                background: #FF8080;
                .table_data-btn {
                    background: #FCB9B9;
                }
            }
            &-buy {
                background: #78C6FE;
                .table_data-btn {
                    background: #ACDCFF;
                }
            }
        }
    }
    &-data {
        &__item {
            &-price {
                background: #B8FFD4;
            }
            &-bid {
                background: #FF8080;
                padding: 0 5px 0 10px!important;
                justify-content: space-between;
                align-items: center;
                img {
                    width: 33px;
                    height: 100%;
                    @media all and (max-width: 1700px){
                        width: 25px;
                    }
                }
            }
        }
    }
    &__header {
        &_item {
            &-price {
                color: #0DA80A;
                font-weight: 600;
            }
            &-bid {
                color: #E40000;
                font-weight: 600;
            }
        }
        &_sub {
            background: rgba(244, 236, 61, 0.7);
            border: 0.5px solid #000000;
            box-sizing: border-box;
            width: 261px;
            height: 100%;
            position: absolute;
            right: 0;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #60626A;
            line-height: 32px;
            @media all and (max-width: 1919px) {
                width: 13.8%;
                font-size: 16px;
            }
        }
    }
    &-data {
        &__row {
            text-align: left;
            display: flex;
            margin-bottom: 20px;
            align-items: baseline;
            @media all and (max-width: 1700px) {
                margin-bottom: 11px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &_id {
                padding-left: 5px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #6C7077;
                font-size: 10px;
                line-height: 12px;
                @media all and (max-width: 1700px) {
                    padding-left: 19px;
                }
                span {
                    display: inline-block;
                    margin-left: 15px;
                }
            }
            &_title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #6C7077;
                width: 30%;
                margin-right: 2%;
                word-break: break-all;
                padding-left: 5px;
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                    line-height: 12px;
                    padding-left: 19px;
                    width: 52%;
                    margin-right: 5px;
                }
            }
            &_value {
                font-family: 'Montserrat';
                padding-left: 20px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                width: 68%;
                word-break: break-all;
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                    line-height: 12px;
                    padding-left: 5px;
                    width: 55%;
                }
            }
        }
    }
}
.discount-cargo-page{
    .textarea-block{
        @media all and (max-width: 1700px) {
            margin-top: -14px;
        }
    }
}
.freight-auction-page {
    .table_data-header ul {
        grid-template-columns: 30px 137px 105px 357px 357px 177px 132px 1.1fr 67px 125px 135px 125px;
        @media all and (max-width: 1900px) {
            grid-template-columns: 1.6% 7.25% 5.55% 18.9% 18.85% 9.4% 6.99% 7.57% 3.5% 6.65% 7.15% 6.6%;
        }
    }
    .table_data-item {
        grid-template-columns: 30px 137px 105px 357px 357px 177px 132px 1.1fr 67px 125px 135px 125px;
        @media all and (max-width: 1900px) {
            grid-template-columns: 1.6% 7.25% 5.55% 18.9% 18.85% 9.4% 6.99% 7.57% 3.5% 6.65% 7.15% 6.6%;
        }
    }
    .textarea-block{
        @media all and (max-width: 1700px) {
            margin-top: -9px;
        }
    }
}

.world-fleet-page {
    .table_data-item {
        grid-template-columns: 30px 200px 1fr 1fr 1fr 1fr 1fr 225px;
        @media all and (max-width: 1700px) {
            grid-template-columns: 22px 143px 1fr 0.9fr 0.9fr 0.9fr 1.1fr 220px;
        }
        &>div {
            border-right: none;
            border-bottom: 5px solid #fff;
            border-top: 0;
            &:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:nth-child(2) {
                padding: 0px;
                img {
                    max-height: 140px;
                    width: 100%;
                    @media all and (max-width: 1700px) {
                        max-height: 89px;
                    }
                }
            }
        }
    }
    .header_table-btn {
        margin-top: 6px;
    }
    .table_data-content {
        height: calc(100vh - 210px - 152px);
        @media all and (max-width: 1700px) {
            height: calc(100vh - 240px - 63px);
        }
    }
    .create-order__item {
        margin-right: 15px;
    }
    .create-order__content {
        @media all and (max-width: 1700px){
            margin-top: 7px;
        }
    }
    .create-order__title{
        @media all and (max-width: 1700px){
            line-height: 15px;
        }
    }
    .popup-add-ship .create-order__photos{
        margin: 23px 0 47px;
        @media all and (max-width: 1700px) {
            margin: 10px 0 47px;
        }
    }
    .textarea-block textarea{
        height: 158px;
        @media all and (max-width: 1700px) {
            height: 95px;
        }
    }
    .create-order .textarea-block textarea{
        @media all and (max-width: 1700px) {
            height: 105px;
        }
    }
    .order-photos__title{
        @media all and (max-width: 1700px) {
            font-size: 10px;
            line-height: 12px;
        }
    }
    .order-id__content{
        @media all and (max-width: 1700px) {
            line-height: 12px;
        }
        .textarea-block {
            label{
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }
    
}

.header-vesseis {
    &+.table_content-data {
        height: 180px;
        @media all and (max-width: 1700px) {
            height: 127px;
            overflow: auto;
        }
        @media all and (max-width: 1366px) {
            width: calc(1366px - 30px);
        }
    }
}

.table-data {
    &__card {
        min-width: 610px;
        display: flex;
        align-items: center;
        border: 5px solid #fff;
        box-sizing: border-box;
        padding: 0 10px 0 5px;
        &> :nth-child(1) {
            margin: 0 5px;
            @media all and (max-width: 1700px) {
                margin: 0 3px 0 0;
            }
            >img{
                @media all and (max-width: 1700px) {
                    width: 13px;
                }
            }
            
        }
        &> :nth-child(2) {
            margin-right: 10px;
            @media all and (max-width: 1700px) {
                width: 143px;
                margin-right: 5px;
            }
            img{
                width: 100%;
            }
        }
        .table-data__column:last-child {
            margin-left: auto;
        }
        @media all and (max-width: 1700px) {
            min-width: 433px;
        }
    }
    &__content-card {
        display: flex;
        justify-content: flex-start;
        @media all and (max-width: 1920px) {
            width: 1920px;
        }
        .simplebar-content {
            display: flex;
        }
    }
    &__string {
        margin: 9px 0;
        @media all and (max-width: 1700px) {
            margin: 0px 0;
        }
        &_title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6C7077;
            margin-right: 10px;
            @media all and (max-width: 1700px) {
                font-size: 10px;
                line-height: 12px;
            }
        }
        &_value {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            @media all and (max-width: 1700px) {
                font-size: 10px;
                line-height: 12px;
            }
        }
        &.data__string_id {
            span:first-child {
                display: inline-block;
                margin-right: 10px;
            }
            .table-data__string_value {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #6C7077;
                @media all and (max-width: 1700px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }
}

.world-fleet {
    &>.table_content-data {
        height: calc(100vh - 240px - 125px);
        @media all and (max-width: 1700px) {
            height: calc(100vh - 240px - 58px);
        }
    }
    .inputs-block>* {
        margin-bottom: 20px;
    }
    .sidebar_btn {
        margin-top: 3px;
        @media all and (max-width: 1700px) {
            margin-top: 15px;
        }
    }
    .order-id__header {
        background: #BFEBFF;
    }
    .order-id__item,
    .order-id__chat {
        width: 30%;
    }
    .order-id__inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .input-block {
            width: 45%;
            margin-bottom: 23px;
            @media all and (max-width: 1700px) {
                margin-bottom: 14px;
            }
        }
    }
    .order-id__description{
        @media all and (max-width: 1700px) {
            justify-content: flex-start;
            flex-direction: column;
        }
    }
    .order-id__photos {
        margin: 23px 0 14px;
        width: 100%;
        @media all and (max-width: 1700px) {
            margin: 0px 0 14px;
        }
    }
    &-page {
        .table {
            @media all and (max-width: 1366px) {
                margin-bottom: 0;
            }
        }
        .table_content-fixed {
            @media all and (max-width: 1366px) {
                height: 146px;
            }
        }
    }
}

.input-block.input-double span {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    @media all and (max-width: 1700px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.double-string {
    position: relative;
    &__block {
        position: absolute;
        right: -30px;
        top: 0;
    }
}

.table_filter-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .sidebar_btn {
        margin-bottom: 90px;
        font-weight: 500;
        font-size: 14px;
        @media all and (max-width: 1700px) {
            font-size: 10px;
            margin-bottom:70px;
        }
    }
}
.world-fleet-page {
    .inputs_block > * {
        margin-bottom: 19px;
    }
    @media all and (max-width: 1700px) {
        .inputs_block > * {
            margin-bottom: 13px;
        }
    }
}